
/* App header elements
---------------------------------*/

/* Application logo

height and width should be the same as your image. make sure to include some top and buttom margin in the padding.

use these for a white logo on dark background. note that the second stanza (_background) is required for IE6, which cannot handle alpha-transparency.

background: url(appLogo.png) no-repeat 0 0;
_background: url(appLogo.gif) no-repeat 0 0;

use these for a black logo on light background.
background: url(appLogo_black.png) no-repeat 0 0;
_background: url(appLogo_black.gif) no-repeat 0 0;

default black and green logo
background: url(appLogo_default.png) no-repeat 0 0;
*/

.appLogo {
    height: 43px; 
    width: 81px;
    background: url(appLogo_default.png) no-repeat;
    _background: url(appLogo.gif) no-repeat;
}

/* the name of your app. line height can be adjusted to fix alignment issues w/ the logo. color is the color of the text. if your logo has the name in it, then you can set this to "display:none;  */

.appHeaderWrapper h1 {
    color:#584a39;
    line-height: 43px;
}


/* background-color and/or image of your app */
.appHeaderWrapper {
    background: #faf9e8 url(overlay_bottomgradient_large.png) repeat-x bottom;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c8c3b0;
}

/* color of top-right text */
.appHeaderWrapper {
    color: #666;
}
/* color of top-right links */
.appHeaderWrapper a {
    color:#000;
}

/* app menu arrows; see arrows section, below, for more info */
.appHeaderWrapper .splIcon-triangle-3-s {
background-position:-7px -367px;
}


/* loader background */
#loading {
    background-color: #80b52d;
}


/* link colors 
---------------------------------*/
a {
    color: #2d6f8e;
}
a.disabled {
    color:#999;
}


/* nav bar and aux links
---------------------------------*/
.splHeader-navigation {
    background-image: none;
}

/*--- the default state ---*/
ul.appBarNav li a, ul.appBarNav li a:active, ul.appBarNav li a:visited  {
    color: #332b20;
    font-size: 11px;
}

/*--- the hover state ---*/
ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a:hover {
    color: #fff;
    background: #514638;
}

/*--- the open state ---*/
ul.appBarNav li a.menuOpen {
    color: #fff;
    background: #514638;
}

/*--- link color ---*/
ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a.menuOpen {
    color: #fff;
}


/* auxiliary text and links */
.AppBar .auxLinks a {
    color: #000;
}
.AppBar .auxLinks span {
    color: #666;
}

/* Menus
---------------------------------*/

/* primary menu */
.splMenu-primary ul {
    background-color: #faf9e8;
}
.splMenu-primary, .splMenu-primary a, .splMenu-primary a:visited, .splMenu-primary a:hover {
    color: #332b20;
}

.splMenu-primary li:hover {
    background-color: #cbd598;
    background-image: none;
}

/* secondary menu, used for apps pulldown */
.splMenu-secondary ul {
    background-color: #faf9e8;
}
.splMenu-secondary, .splMenu-secondary a {
    color: #332b20;
}
.splMenu-secondary li.disabled a {
    color:#666;
}   
.splMenu-secondary li:hover {
    background-color: #cbd598;
    background-image: none;
}
.splMenu-secondary a:hover {
    color: #333;   
}

/* actions menu open state */
.TitleBar div.menuOpen {
    background-color: #91b438;
    color: #fff;
}


/* Arrows
---------------------------------*/

/* 
Arrow color is changed by adjusting the frist background position. The second value controls the direction of the arrow (i.e. NSEW). 

For south arrows, Use the following values for these colors:
    grey    background-position: -7px -367px;
    white   background-position: -27px -367px;
    green   background-position: -47px -367px;
    black   background-position: -67px -367px;

For east arrows, Use the following values for these colors:    
    grey    background-position: -7px -407px;
    white   background-position: -27px -407px;
    green   background-position: -47px -407px;
    black   background-position: -67px -407px;
*/


.splIcon-triangle-2-s {
    background-position: -67px -367px;
}

/* nav arrow, default state */
ul.appBarNav li.hasMenu a span.splIcon-triangle-2-s {
    background-position: -67px -367px; /*black */
}

/* hover state */
ul.appBarNav li.hasMenu a:hover span.splIcon-triangle-2-s {
    background-position: -27px -367px; /*white */
}

/* open state */
ul.appBarNav li.hasMenu a.menuOpen span.splIcon-triangle-2-s {
    background-position: -27px -367px; /*white */
}

/* actions menu open state */
.TitleBar div.menuOpen .splIcon-triangle-4-s {
    background-position: -27px -367px; /*white */
}


/* background colors
---------------------------------*/

/* default page color */
body, .splBackground-default, 
.graphArea, .resultsArea,  
.reportSecondPanel, .reportThirdPanel, 
.sidebarCollapsed,
.SearchBar .saTypeaheadWrapper,
.ui-datepicker-links,
.popupContent {
    background-color: #faf9e8;
}

/* primary background - applies to search controls and primary action panels */
.viewHeader, .mainSearchControls, .splSearchControls-inline,
.SearchBar .saHelpWrapper,
.popupContent  {
    background-color: #faf9e8;
}

/* secondary background - sidebar, other panels */
.splBackground-secondary, .sidebarExpanded,
.fieldValuePopup p.reportLinks {
    background-color:#e8efc3;
}

/* Specific overrides */
.layoutCellInner .ResultsHeader .splHeader, .layoutCellInner .ResultsHeader .splHeader-secondary {
    background: transparent none;
}

/* Specific overrides */
.popupFooter {
    background-color: #fffdf0;
}

/* dashboard background color */
body.splTemplate-dashboard {
    background-color:#fffef1;
}

/* dashboard containers */
.dashboardCell {
    background-color: #faf9e8; 
    background-image:url(overlay_topgradient.png);
    background-repeat:repeat-x;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: #ddd 0 0 4px;
    _background-image: none;   /* for IE6 */
}

/* headers 
---------------------------------*/

/* default header font color */
.splHeader-dashboard h2, .dashboardContent .ServerSideInclude h2, .dashboardContent .GenericHeader h3, .SearchBar .saRow h4  {
    color: #584a39;
}

/* primary header background color + overlay */
.splHeader-primary,
.TitleBar .splHeader, 
.FieldPickerPopup .splHeader-primary {
    background-color: #faf9e8;
background-image:url(overlay_topgradient.png);
background-repeat:repeat-x;
_background-image: none;
}

/* secondary (i.e. sidebar) header background color + overlay */
.splHeader-secondary {
background-color:#e8efc3;
background-image:url(overlay_topgradient.png);
background-repeat:repeat-x;
_background-image: none;
}

/* headers w/o any overlay */
.FlashTimeline .splHeader-primary {
    background-color:#faf9e8;
    background-image: none;
}

/* borders 
---------------------------------*/

/* ALL elements with a generic border attribute */
* { 
border-color: #e6e1cf;
}

/* refactor to remove these in default.css since they have specific color declarations; should be same value as * elements, above */ 
.splMenu-primary ul, 
.splMenu-secondary ul,
.fieldLayers .popupContainer,
.splMenu-primary .actionsMenuDivider {
border-color: #e6e1cf;
}

/* specific overrides */ 

.fieldValuePopup table tr.fieldNameHeaderRow th {
border-bottom:1px solid #e6e1cf;
}

/* horizontal rules in the sidebar */ 
.splDivider, .SuggestedFieldViewer .splBorder-n {
border-color: #b9c699;
}




/* search controls 
---------------------------------*/

/* search button color; background-position of 0 0 is black, -40px 0 is white */
input.searchButton {
    background-color: #5a9ba1;
    background-position:-40px 0;   
}

.SearchBar .assistantActivator {
background-color: #584a39;
}



/* Flash timeline and charts 
---------------------------------*/

/* All flash charts */
/*
  background-color -> controls bgcolor
  border-left-color -> controls foregroundColor
  color -> controls fontColor
  controls and and font color get screened via an alpha layer, so should probably be set to all black or white, depending on main background
*/
div.FlashChart {
    background-color: #faf9e8;
    color: #000;
    border-left-color: #000;
}

/* flash timeline specific */
/*
  background-color -> controls bgcolor
  border-left-color -> controls foregroundColor
  color -> controls fontColor
  border-right-color -> controls seriesColor
controls and and font color get screened via an alpha layer, so should probably be set to all black or white, depending on main background
*/
div.FlashTimeline {
    background-color: #faf9e8;
    border-left-color: #000;
    color: #fff;
    /* the color of the histogram bar. border-right-color = fill */
    border-right-color: #81c1c7; 
}

/* popup bar chart; should be same color as flash timeline */
.splBarGraphBar {
background-color:#81c1c7;
}

/* background of bar graph */
.splBarGraph {
background:#e0dfcc;
}




/* buttons 
---------------------------------*/

.splButton-primary {
    background-color: #80b52d;   
    color: #FFF;
}
.splButton-primary:hover {
    background-color: #90c53d;   
}
.splButton-secondary {
    background-color:#584a39;
    color: #FFF;   
}
.splButton-secondary:hover {
    background-color: #685a49;   
}

/* form elements
_________________________________*/

fieldset legend {
    color: #91b438;
}
fieldset legend span {
    color: #000;
}
p.exampleText {
    color: #666;
}
p.fieldsetHelpText {
    color: #666;
}

/*-- disabled and read-only form elements --*/

label.disabledLabel {
    color:#666;
}
select option[disabled] {
    color:#999;
}
input.readonly {
    background-color: #999;
}


input[disabled]{
background-color: transparent;
border-color: transparent;
color: #333;
}

/* Icons 
---------------------------------*/
.splIcon-events-list, .splIcon-events-table, .splIcon-results-table {
/*-- master icon file. edit the local file if you want to change colors or remove this stanza to use default icons --*/
background-image: url(splIcons.gif);
}

/*-- background color for icons --*/
.splIcon {
    background-color: #a59c92;
}

/*-- switchers that use icons  --*/

.ButtonSwitcher ul li.selected, .ButtonSwitcher ul li.selected:hover,
.EventsViewer .default .actions,
div.FlashTimeline a.logScaleSelected span, div.FlashTimeline a.linScaleSelected span  {
    border: 1px solid #a59c92;
    background-color: #a59c92;
}

/*-- paginator uses similar styles --*/

.Paginator .active a, .Paginator .active a:hover {
    background-color: #a59c92;
    border-color: #a59c92;
    color: #fff;
}

/*-- arrow icons --*/
.splIcon-arrow-n, .splIcon-arrow-e, .splIcon-arrow-s, .splIcon-arrow-w {
    background-color: #a59c92;
}

/* triangles. keep this last to avoid getting background colors in the arrows! */
/* Note: to separate color from implementation, we're using a numbering system to differentiate colors.  
   1=grey,2=white,3=green,4=black,5=blue.  If the icon sprite changes, the number mapping to colors would be different */
.splIcon-triangle, 
.splIcon-triangle-1-n, .splIcon-triangle-1-s, .splIcon-triangle-1-e, .splIcon-triangle-1-w,
.splIcon-triangle-2-n, .splIcon-triangle-2-s, .splIcon-triangle-2-e, .splIcon-triangle-2-w,
.splIcon-triangle-3-n, .splIcon-triangle-3-s, .splIcon-triangle-3-e, .splIcon-triangle-3-w,
.splIcon-triangle-4-n, .splIcon-triangle-4-s, .splIcon-triangle-4-e, .splIcon-triangle-4-w,
.splIcon-triangle-5-n, .splIcon-triangle-5-s, .splIcon-triangle-5-e, .splIcon-triangle-5-w {
    background-color:transparent;   
}
.splIcon-triangle-large {
    background-color:transparent;  
}


/* tables
------------------------------*/
table.splTable {
    border-color: ;   
}
table.splTable th {
    border-color: ;
}
table.splTable th a {
    color: ;
}
table.splTable td {
    border-color: ;
}



/* highlight colors 
---------------------------------*/
/*-- event items --*/
.EventsViewer .default .a, .EventsViewer .default .h, .EventsViewer .default .fields .v:hover, .EventsViewer .default .fields .tg:hover {
	background-color:#f5e998;
}

/*-- row highlighting for tables --*/
table.splTable tr:hover td {
    background-color:#f5e998;
}
.mouseoverHighlight, .mouseoverHightlight td {
    background-color:#f5e998;
}

/*-- matching search terms --*/
.SimpleEventsViewer span.searchTermHighlight {
    background-color:#f5e998;
}

/* MultiFieldViewer + SuggestedFieldViewer, i.e. highlight in the fields sidebar */
.MultiFieldViewer .fieldTabs .mouseoverHighlight,
.MultiFieldViewer .fieldTabs .selected,
.SuggestedFieldViewer .fieldTabs .mouseoverHighlight,
.SuggestedFieldViewer .fieldTabs .selected {
    background-color:#cbd598;
}

/* field picker popup hover row */
.FieldPickerPopup .fpFieldList tbody tr:hover, .FieldPickerPopup .fpFieldList tbody tr.mouseoverHighlight {
    background-color: #cbd598;
}



/* date picker 
---------------------------------*/
.ui-datepicker-current-day {
    background-color: #cbd598;
}

.ui-datepicker-links {
    background-image: url(overlay_gradient.png) repeat-x 0 0;
    _background-image: none;
} 

/* popups 
---------------------------------*/
.splHeader-popup {
background:#352b1f url(overlay_gradient.png) repeat-x 0 0;
_background-image: none;
}

.splHeader-popup h2 {
    color:#FFF; 
    font-size:12px;  
}

.popupContainer {
border-color:#352b1f;
}

/* modal overlay */
.splOverlay, .splOverlay-white {
    background-color: #000;    
    opacity:0.8;
    filter:alpha(opacity=80);
}
.splOverlay-white {
    background-color:#FFF;  
}

/* Misc 
---------------------------------*/

/* resize handle */
.ui-resizable-s {
background-color:#d7d2bd !important;
}

/* loading image for jobs */
.JobStatus .output .running h2,
.JobStatus .output .runningReport h2,
.JobStatus .output .finalizing h2 {
    background-image: url(loader.gif);
}


/* remove the gradient at top of event and results area */
.EventsViewer, .SimpleResultsTableResults {
background-image: none;
}
