certifi==2025.8.3 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
cffi==2.0.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
configparser==6.0.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
cryptography==46.0.6 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
defusedxml==0.7.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
deprecation==2.1.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-api-core==2.24.2 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-api-python-client==2.182.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-auth-httplib2==0.2.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-auth==2.49.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-cloud-bigquery==3.38.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-cloud-core==2.4.3 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-cloud-pubsub==2.31.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-cloud-pubsublite==1.12.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-cloud-storage==3.4.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-crc32c==1.5.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
google-resumable-media==2.7.2 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
googleapis-common-protos==1.70.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
grpc-google-iam-v1==0.14.2 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
grpcio-status==1.48.2 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
grpcio==1.75.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
httplib2==0.22.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
httplib2shim==0.0.3 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
idna==3.10 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
importlib-metadata==6.7.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
oauth2client==4.1.3 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
opentelemetry-api==1.37.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
opentelemetry-sdk==1.37.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
opentelemetry-semantic-conventions==0.58b0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
overrides==6.5.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
packaging==25.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
proto-plus==1.26.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
protobuf==6.33.5 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
pyasn1-modules==0.4.2 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
pyasn1==0.6.3 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
pycparser==2.23 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pyparsing==3.1.4 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
pyrfc3339==1.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
pysocks==1.7.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
pytz==2023.4 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
remote-pdb==2.1.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
requests==2.32.5 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
rsa==4.9 ; python_full_version >= "3.9.3" and python_version < "3.10"
six==1.16.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
solnlib==6.3.0 ; python_full_version >= "3.9.3" and python_version < "3.10"
sortedcontainers==2.4.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
splunk-sdk==2.1.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
splunksdc @ git+ssh://git@github.com/splunk/splunksdc.git@85144f4e5a94d572a6d8204cbd53af72b6c21208 ; python_full_version >= "3.9.3" and python_version < "3.10"
splunktalib==3.0.6 ; python_full_version >= "3.9.3" and python_version < "3.10"
splunktaucclib==6.6.0 ; python_full_version >= "3.9.3" and python_version < "3.10"
typing-extensions==4.15.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
u-msgpack-python==2.8.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
uritemplate==4.1.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
urllib3==1.26.19 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
win-inet-pton==1.1.0 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
zipp==3.19.1 ; python_full_version >= "3.9.3" and python_full_version < "3.10.0"
