.SimpleResultsTableExtended {
    clear:both;
    padding:0px;
    _padding:0px 5px;
    
}

.SimpleResultsTableExtended .empty_results {
    margin-left: 10px;
    margin-right: 10px;
}

.SimpleResultsTableExtended .simpleResultsTableWrapper {
	overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 10px;
    _padding: 0px;
    _width:100%;
    *position:relative;
}
/*SPL-49659 - fix IE9 hover bug*/
.ie9 .SimpleResultsTableExtended .simpleResultsTableWrapper {
    min-height:0;
    margin-bottom:auto;
}
.SimpleResultsTableExtended .simpleTableOptions {
    height:32px;
    line-height: 32px;
    text-align:right; 
    padding:0px 10px;  
}
.SimpleResultsTableExtended table.simpleResultsTable {
    white-space:nowrap;   
}
.SimpleResultsTableExtended table.simpleResultsTable td.pos,
.SimpleResultsTableExtended table.simpleResultsTable th.pos {
    padding: 3px 10px 5px 5px;
    width: 15px;
}
.SimpleResultsTableExtendedMenuTemplate {
    display: none;
}
.SimpleResultsTableExtended splMenu ul {
    margin-top: -2px
}
.SimpleResultsTableExtended table.splTable tr td.selected,
.SimpleResultsTableExtended table.splTable tr th.selected,
.SimpleResultsTableExtended table.splTable tr.selected td,
.SimpleResultsTableExtended table.splTable tr div.selected {
    background-color:#DCD28B;
    color:#fff;
}
.SimpleResultsTableExtended table.enableMouseover tr td.d {
    color:#1a7996;
    cursor:pointer;
}

.SimpleResultsTableExtended table th a {
    cursor:pointer;
}

