[nr_app.sample]
interval = 300
earliest = -60m
latest = now
sourcetype = newrelic:applications
outputMode = modinput

## replace timestamps "last_reported_at": "2017-03-16T21:14:52+00:00"
token.0.token = last_reported_at":\s+"([^\+]+)
token.0.replacementType = timestamp
token.0.replacement = %Y-%m-%d %H:%M:%S

## replace entity name
token.1.token = (##entity_name##)
token.1.replacementType = file
token.1.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/entity_name.sample

[nr_app_mobile.sample]
interval = 300
earliest = -60m
latest = now
sourcetype = newrelic:applications:mobile
outputMode = modinput

## replace entity name
token.1.token = (##entity_name##)
token.1.replacementType = file
token.1.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/entity_name.sample

[nr_app_browser.sample]
interval = 300
earliest = -60m
latest = now
sourcetype = newrelic:applications:browser
outputMode = modinput

## replace entity name
token.1.token = (##entity_name##)
token.1.replacementType = file
token.1.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/entity_name.sample

## replace load script
token.2.token = (##load_script##)
token.2.replacementType = file
token.2.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/load_script.sample

[nr_servers.sample]
interval = 300
earliest = -60m
latest = now
sourcetype = newrelic:servers
outputMode = modinput

## replace timestamps "last_reported_at": "2017-03-16T21:14:52+00:00"
token.0.token = last_reported_at":\s+"([^\+]+)
token.0.replacementType = timestamp
token.0.replacement = %Y-%m-%d %H:%M:%S

## replace entity name
token.1.token = (##entity_name##)
token.1.replacementType = file
token.1.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/entity_name.sample

token.2.token = (##acount_id##)
token.2.replacementType = file
token.2.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/id.sample

[nr_transactions.sample]
interval = 300
earliest = -60m
latest = now
sourcetype = newrelic:transactions
outputMode = modinput

## replace timestamps "last_reported_at": "2017-03-16T21:14:52+00:00"
token.0.token = last_reported_at":\s+"([^\+]+)
token.0.replacementType = timestamp
token.0.replacement = %Y-%m-%d %H:%M:%S

[nr_alerts_events.sample]
interval = 300
earliest = -60m
latest = now
sourcetype = newrelic:alerts:events
outputMode = modinput

## replace timestamps "timestamp": 1489261115005
token.0.token = timestamp":\s+([^,]+)
token.0.replacementType = timestamp
token.0.replacement = %s

## replace email
token.1.token = (##email##)
token.1.replacementType = file
token.1.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/email_add.sample

[nr_alerts_violations.sample]
interval = 300
earliest = -60m
latest = now
sourcetype = newrelic:alerts:violations
outputMode = modinput


## replace timestamps "opened_at": 1485700620000
token.0.token = opened_at":\s+([^,]+)
token.0.replacementType = timestamp
token.0.replacement = %s

## replace entity name
token.1.token = (##entity_name##)
token.1.replacementType = file
token.1.replacement = $SPLUNK_HOME/etc/apps/Splunk_TA_New_Relic/samples/entity_name.sample
