asn1crypto==1.5.1 ; python_version >= "3.7" and python_version < "3.8"
boto3==1.24.60 ; python_version >= "3.7" and python_version < "3.8"
boto==2.49.0 ; python_version >= "3.7" and python_version < "3.8"
botocore==1.27.84 ; python_version >= "3.7" and python_version < "3.8"
certifi==2022.9.24 ; python_version >= "3.7" and python_version < "3.8"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "3.8"
charset-normalizer==2.1.1 ; python_version >= "3.7" and python_version < "3.8"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "3.8"
httplib2==0.20.4 ; python_version >= "3.7" and python_version < "3.8"
idna==3.4 ; python_version >= "3.7" and python_version < "3.8"
jmespath==1.0.1 ; python_version >= "3.7" and python_version < "3.8"
oscrypto==1.3.0 ; python_version >= "3.7" and python_version < "3.8"
pycparser==2.21 ; python_version >= "3.7" and python_version < "3.8"
pyparsing==3.0.9 ; python_version >= "3.7" and python_version < "3.8"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "3.8"
remote-pdb==2.1.0 ; python_version >= "3.7" and python_version < "3.8"
requests==2.28.1 ; python_version >= "3.7" and python_version < "3.8"
s3transfer==0.6.0 ; python_version >= "3.7" and python_version < "3.8"
six==1.16.0 ; python_version >= "3.7" and python_version < "3.8"
solnlib==4.6.0 ; python_version >= "3.7" and python_version < "3.8"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "3.8"
splunk-sdk==1.7.1 ; python_version >= "3.7" and python_version < "3.8"
splunktalib==2.2.6 ; python_version >= "3.7" and python_version < "3.8"
splunktaucclib==5.0.7 ; python_version >= "3.7" and python_version < "3.8"
u-msgpack-python==2.7.1 ; python_version >= "3.7" and python_version < "3.8"
urllib3==1.26.9 ; python_version >= "3.7" and python_version < "3.8"
validate-aws-sns-message==0.9.0 ; python_version >= "3.7" and python_version < "3.8"
