{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "7321646c1c9fe43ae84c19f7", "severity_level": 2, "timestamp": 1478807762, "insertion_epoch_timestamp": 1478807762, "organization_unit": "", "user": "user3@example.com", "type": "admin_audit_logs", "ccl": "unknown", "appcategory": "n/a"}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "4b5bfca4c0256fb954f368e2", "severity_level": 2, "timestamp": 1478807759,, "insertion_epoch_timestamp": 1478807759, "organization_unit": "", "user": "user3@example.com", "type": "admin_audit_logs", "ccl": "unknown", "appcategory": "n/a"}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user5@example.com"], "data_type": "user"}, "internal_id": "2793f44d5f39e16aebe7ffd2", "severity_level": 2, "timestamp": 1478805861, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user5@example.com", "insertion_epoch_timestamp": 1478805861}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user5@example.com"], "data_type": "user"}, "internal_id": "ce5a5a51e7ecaea4ec407cf7", "severity_level": 2, "timestamp": 1478805829, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user5@example.com", "insertion_epoch_timestamp": 1478805829}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user5@example.com"], "data_type": "user"}, "internal_id": "af2a5b2cc2b66e8ba69603b3", "severity_level": 2, "timestamp": 1478805795, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user5@example.com", "insertion_epoch_timestamp": 1478805795}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "35aade397b2fd8b6de484c24", "severity_level": 2, "timestamp": 1478803960, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478803960}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "ece222eaeeaf9b8e4a2afcca", "severity_level": 2, "timestamp": 1478799166, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478799166}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "98194bc9fb958215398455b1", "severity_level": 2, "timestamp": 1478799163, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478799163}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "fafba64c02fc030d9ca0eec6", "severity_level": 2, "timestamp": 1478725313, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478725313}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "41fb33bcee556e5979ae1ba6", "severity_level": 2, "timestamp": 1478725052, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478725052}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "ee676cca52d120ce820fa3b6", "severity_level": 2, "timestamp": 1478642303, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478642303}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "9511443ce336954784fdefd7", "severity_level": 2, "timestamp": 1478642165, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478642165}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "e1fa771601a523678b7c1660", "severity_level": 2, "timestamp": 1478639885, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478639885}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "d01b89aebe12ef616cb04b5d", "severity_level": 2, "timestamp": 1478639764, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478639764}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "589d7d59badeaca280790532", "severity_level": 2, "timestamp": 1478628446, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478628446}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "7d92a60cdde2cc2dd8758012", "severity_level": 2, "timestamp": 1478625431, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478625431}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "466f926e5427a5534d09166d", "severity_level": 2, "timestamp": 1478558496, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478558496}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "d3b10b2fce31370280822789", "severity_level": 2, "timestamp": 1478558494, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478558494}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "53a98f168e7374f44c85ec72", "severity_level": 2, "timestamp": 1478554210, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478554210}
{"audit_log_event": "Login Successful", "supporting_data": {"data_values": ["REPLACEUSERIP", "user3@example.com"], "data_type": "user"}, "internal_id": "cdb911141b27aeeb2b3224e3", "severity_level": 2, "timestamp": 1478554205, "ccl": "unknown", "appcategory": "n/a", "organization_unit": "", "type": "admin_audit_logs", "user": "user3@example.com", "insertion_epoch_timestamp": 1478554205}
