# Sample inputs.conf for index and sourcetypes supported by the app. 

[activities]
host = dtex-internal.dtex.lan

# Batch stanza for dtex_st_activities sourcetype. 
# This stanza tags the events to be indexed in 'dtex' with the sourcetype dtex_st_activities. 

[batch:////data/splunk/activities]
disabled = 0
move_policy = sinkhole
index = dtex
sourcetype = dtex_st_activities
crcSalt = <SOURCE>
persistentQueueSize = 10GB

[alerts]
host = dtex-internal.dtex.lan

# Batch stanza for dtex_st_alerts sourcetype. 
# This stanza tags the events to be indexed in 'dtex' with the sourcetype dtex_st_alerts. 

[batch:////data/splunk/alerts/]
disabled = 0
move_policy = sinkhole
index = dtex
sourcetype = dtex_st_alerts
crcSalt = <SOURCE>
persistentQueueSize = 10GB

# Batch stanza used for custom alert actions
# The following stanza is used to re-index event in splunk after custom alerts are triggered. 
# There are two stanzas mentioned below, one for linux and one for windows system.
 
[batch://$SPLUNK_HOME/etc/apps/dtexubi/local/dtex_custom_alerts_response/...stash_common_action_model]
queue       = stashparsing
sourcetype  = stash_common_action_model
move_policy = sinkhole
crcSalt     = <SOURCE>

[batch://$SPLUNK_HOME\etc\apps\dtexubi\local\dtex_custom_alerts_response\...stash_common_action_model]
queue       = stashparsing
sourcetype  = stash_common_action_model
move_policy = sinkhole
crcSalt     = <SOURCE>
