<html>
          <style>
          #performance{
            width:80%;
          }
          #successfail{
            width:20%;
            }
          #domain{
            width:30%;
          }
         </style>
      </html>
