/* Customize Navigation Headers: grdhg24: 111416*/
.header {
    background-color:#032644!important;
}
/* Customize Navigation Header Basic */
.app-bar {
    background:#BE1700 !important;
}
div [class$="1zrJY"]  {
    background:#BE1700 !important;
}
.app-bar .nav-pills>li>a {
   color:#FFF;
 }
.app-bar .nav-pills>li>a:hover {
    color:#FFF;
}
.app-bar .app-name {
    line-height: 40px; font-size: 18px; font-weight: 200; color:#FFF;
}
.app-bar .pull-right {
    background-color:#DB4126;
}
/* Customize Navigation Header Advanced*/
