# Date format
jmx.dateFormat=yyyy-MM-dd HH:mm:ss.SSS

# Below you can find example RMI entries to monitor
jmx.objectName.OperatingSystem=java.lang:type=OperatingSystem
jmx.objectName.Runtime=java.lang:type=Runtime
jmx.objectName.Runtime.attributes=Name

jmx.objectName.Threading=java.lang:type=Threading
jmx.objectName.Threading.attributes=CurrentThreadCpuTime,DaemonThreadCount,ThreadCount,TotalStartedThreadCount

jmx.objectName.Memory=java.lang:type=Memory
jmx.objectName.Memory.attributes=HeapMemoryUsage,NonHeapMemoryUsage

#jmx.objectName.ClassLoading=java.lang:type=ClassLoading
#jmx.objectName.ClassLoading.attributes=LoadedClassCount,LoadedClassCount

#jmx.objectName.infinispan=jboss.infinispan:type=Cache,name=*,manager=*,component=Statistics

jmx.objectName.ws=jboss.ws:context=*,endpoint=*
jmx.objectName.ws.attributes=MinProcessingTime,MinProcessingTime,FaultCount,RequestCount,ResponseCount,AverageProcessingTime,TotalProcessingTime,MaxProcessingTime

jmx.objectName.jca=jboss.jca:*
jmx.objectName.jca.attributes=StateString,ManagedConnectionPoolTransactionManager,TrackConnectionByTx,SecurityDomainJndiName,TransactionManagerService,CachedConnectionManager,JaasSecurityManagerService,Name,JndiName,State,LocalTransactions,IsSameRMOverrideValue,XAResourceTransactionTimeout

jmx.objectName.jbossesb=jboss.esb:deployment=*
jmx.objectName.jbossesb.attributes=JbossEsbXmlAsHtml

jmx.objectName.jbossweb=jboss.web:J2EEApplication=*,J2EEServer=*,WebModule=*,j2eeType=Servlet,name=*
jmx.objectName.jbossweb.attributes=objectName,minTime,maxTime,errorCount,processingTime,requestCount,bytesSent,bytesReceived


#jmx.objectName.jbojboss.web:type=Connector
#jmx.objectName.jboss.web:type=GlobalRequestProcessor
#jmx.objectName.jboss.web:type=Manager
