192.168.20.10,5/2/x1,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x10,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x11,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x12,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,tool
192.168.20.10,5/2/x13,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x14,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x15,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x16,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x2,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,hybrid
192.168.20.10,5/2/x3,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x4,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x5,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x6,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x7,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x8,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/2/x9,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g1,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g10,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g11,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,tool
192.168.20.10,5/3/g12,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g13,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g14,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g15,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g16,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g17,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g18,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g19,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g2,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g20,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g21,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g22,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g23,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g24,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g3,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g4,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g5,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g6,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g7,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/3/g8,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,tool
192.168.20.10,5/3/g9,fm1.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x1,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x10,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x11,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x12,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x13,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x14,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x15,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x16,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x2,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x3,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,tool
192.168.20.10,5/4/x4,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x5,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x6,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x7,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x8,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.10,5/4/x9,fm1.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x1,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x10,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x11,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x12,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,tool
192.168.20.15,17/1/x13,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x14,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x15,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x16,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x17,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x18,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x19,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x2,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x20,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x21,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x22,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x23,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x24,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x3,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x4,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x5,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,hybrid
192.168.20.15,17/1/x6,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x7,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x8,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/1/x9,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x1,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x10,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x11,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x12,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x13,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x14,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x15,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x16,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x2,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x3,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x4,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x5,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x6,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x7,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x8,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.15,17/4/x9,fm2.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g1,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g10,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g11,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g12,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g13,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g14,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g15,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g16,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g2,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g3,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g4,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g5,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g6,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g7,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g8,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/g9,fm3.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/x1,fm3.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/x2,fm3.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/x3,fm3.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.20,10/1/x4,fm3.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g1,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g10,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g11,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g12,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g13,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g14,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g15,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g16,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g2,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g3,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g4,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g5,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g6,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g7,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g8,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/g9,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/x1,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/x2,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/x3,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,1/1/x4,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g1,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g10,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g11,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g12,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g13,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g14,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,tool
192.168.20.25,3/1/g15,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g16,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g2,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g3,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g4,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g5,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g6,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g7,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g8,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/g9,fm4.gigamon.com,true,1G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/x1,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/x2,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/x3,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,3/1/x4,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x1,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x10,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x11,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,tool
192.168.20.25,2/1/x12,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x13,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x14,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x15,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x16,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x17,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x18,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x19,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x2,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x20,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x21,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x22,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x23,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x24,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x25,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x26,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x27,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x28,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x29,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x3,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x30,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x31,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x32,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,tool
192.168.20.25,2/1/x4,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,hybrid
192.168.20.25,2/1/x5,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x6,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x7,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x8,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/1/x9,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/2/c1,fm4.gigamon.com,true,100G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x1,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x10,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x11,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x12,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x13,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x14,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x15,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x16,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x17,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x18,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x19,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x2,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x20,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x21,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,hybrid
192.168.20.25,2/3/x22,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x23,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x24,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x25,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x26,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x27,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x28,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x29,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x3,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x30,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x31,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x32,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x4,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x5,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x6,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x7,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x8,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,network
192.168.20.25,2/3/x9,fm4.gigamon.com,true,10G,true,false,true,ELECTRICAL,tool
