.props_sourcetype {
  font-weight:bold;
  font-family:monospace;
}

.props_value {
  font-family:monospace;
}

.apache_value {
  font-family:monospace;
}

.props_comment {
  font-style:italic;
  padding-bottom:4px;
  padding-left:4px;
}

.props_example {
}

.props_forminput {
}

.props_formlabel {
}

