
body, .main-section-body {
	background-color: #ffffff;
	background-image: none; 
}

.app-bar, .lite-bar {
	background-color: #3397d3;
}

.dashboard-row .dashboard-panel {
	margin: 0 30px 30px 0;
	border-radius: 10px;
}

.dashboard-row .dashboard-panel .panel-head h3 {
	margin-bottom: 20px;
	font-size: 20px;
	background-color: #f1f1f1;
	background-color: #3397d3;
  	color: #ffffff;
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
}

.btn {
	text-shadow: initial;
}

.btn-primary {
	background-color: #99c941;
  	border-color: #99c941;
}

.btn-primary:hover {
	background-color: #87B82F;
	border-color: #87B82F; 
}

.btn-primary, .btn-primary:hover {
	text-transform: uppercase;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  	background-image: initial;
}

#search_btn .btn {
	padding-right: 32px;
	padding-left: 32px;
}

.view-mode .refresh-time-indicator .time-freshness {
  color: #fff;
}

.appLogo {
    height: 43px !important;
    width: 155px !important;
    padding-right: 5px !important;
    float: left !important;
    background: url(appLogo.png) no-repeat 0 0 !important;
    _background: url(appLogo.gif) no-repeat 0 0 !important;
}

.appHeaderWrapper h1 {
    display: none;
} 

.appHeaderWrapper .accountBarItems li {
    text-shadow: -1px -1px 1px #111;   
}

# classes used by eventtype renderer
.splEvent-et_blue    .t { color:#00F; }
.splEvent-et_green   .t { color:#0C0; }
.splEvent-et_magenta .t { color:#F09; }
.splEvent-et_orange  .t { color:#F30; }
.splEvent-et_purple  .t { color:#90C; }
.splEvent-et_red     .t { color:#F00; }
.splEvent-et_sky     .t { color:#09F; }
.splEvent-et_teal    .t { color:#099; }
.splEvent-et_yellow  .t { color:#990; }

