# Use an input like this if collecting data via the Python daemon
[tcp://9936]
index = mysql
connection_host = ip
sourcetype = tcp-raw

# Use inputs like this if collecting data with the Ruby scripted inputs
[script://opt/splunk/etc/apps/mysql/bin/mysql-processlist.rb db01]
interval = 60
host = db01
index = mysql
sourcetype = mysql-processlist

[script://opt/splunk/etc/apps/mysql/bin/mysql-tablestats.rb db01]
interval = 0 4 * * *
host = db01
index = mysql
sourcetype = mysql-tablestats

[script://opt/splunk/etc/apps/mysql/bin/mysql-statusvars.rb db01]
interval = 60
host = db01
index = mysql
sourcetype = mysql-statusvars

[script://opt/splunk/etc/apps/mysql/bin/mysql-slavestatus.rb db01]
interval = 60
host = db01
index = mysql
sourcetype = mysql-slavestatus
