SEDCMD-msdns = s/\(\d+\)/./g
EXTRACT-src_ip = (^\w+\.\w+\t\w+\t|UDP Rcv\s)(?P<src_ip>(\w|\.|\:)+)
EXTRACT-dest_host = \s\.?(?P<dest_host>(\(|\)|-|\w|\.\w|\\|\*)+)(\t\d+\tC_INTERNET|\.?$)
EXTRACT-query_type = (C_INTERNET\t\d+\t|\] )(?P<query_type>\w+)
