PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Invitee user1 joining meeting 'Meeting (16603960)' (ID: 16603960) using Pulse Collaboration version 1.0.0.3, capabilities 1025.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Invitee user1 connecting to local server localhost2 (instance 0) running meeting 'Meeting (16603960)' (ID: 16603960).
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Successfully connected invitee user1 to meeting 'Meeting (16603960)' (ID: 16603960).
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Connected to Meeting_ID: 16603960; Version: 1.0.0.3; Protocol: 6; cap: 1025 port 0
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Meeting 'Meeting (16603960)' (ID: 16603960) started.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Chat session for meeting 'Meeting (16603960)' (ID: 16603960) started.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Updated meeting ID 16603960 property actual_start_time from '0' to '1474667890'.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Updated meeting ID 16603960 property running_role from '' to '0000000001.000005.0'.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Attendee (side3943e6825b4c14d220934bfc40d605c362a39bf00000000) property id updated from '0' to '1' for meeting ID 16603960.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Updated meeting ID 16603960 property next_uid from '1' to '2'.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Attendee user1 (side3943e6825b4c14d220934bfc40d605c362a39bf00000000) added to meeting ID 16603960. Role: conductor,presenter,viewer, Joined: 1474667890, Left: 0.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Updated meeting ID 16603960 property first_attendee_join_time from '0' to '1474667890'.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Attendee (side3943e6825b4c14d220934bfc40d605c362a39bf00000000) property attending_role updated from '' to '0000000001.000005.0' for meeting ID 16603960.
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Attendee user1 joined meeting 'Meeting (16603960)' (ID: 16603960).
PulseSecure: 2018-01-09 23:58:10 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Connected to Meeting_ID: 16603960; Version: 1.0.0.3; Protocol: 6; cap: 1025 port 0
PulseSecure: 2018-01-09 00:00:59 - pulsesecure - [10.10.10.10] user1(Users)[Users] - Closed connection to Meeting_ID: 16603960; Version: 1.0.0.3; Protocol: 6; cap: 1025 port 0 after 169 seconds, with 278 bytes read (in 4 chunks) and 174 bytes written (in 13 chunks)
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Attendee (side3943e6825b4c14d220934bfc40d605c362a39bf00000000) property attendance_minutes updated from '0' to '156' for meeting ID 16603960.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Attendee (side3943e6825b4c14d220934bfc40d605c362a39bf00000000) property leave_time updated from '0' to '1474668046' for meeting ID 16603960.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Attendee user1 left meeting 'Meeting (16603960)' (ID: 16603960) after 2 minute(s). Total Data Transmitted: 0 KB.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property total_meeting_duration from '0' to '156'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property first_attendee_join_time from '1474667890' to '0'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property running_node from 'localhost2' to ''.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property instance_id from '0' to '-1'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Chat session for meeting 'Meeting (16603960)' (ID: 16603960) ended. Total Sharing Time: 155 seconds, Total Data Sent: 0 bytes, Total Data Received: 0 bytes, Total Data Transmitted: 0 bytes.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property actual_end_time from '0' to '1474668046'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Meeting 'Meeting (16603960)' (ID: 16603960) ended. Total Attendee Minutes: 2 minute(s), Total Meeting Attendees: 1, Total Data Transmitted: 0 KB.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property actual_end_time from '0' to '1474668046'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Chat session for meeting 'Meeting (16603960)' (ID: 16603960) ended. Total Sharing Time: 155 seconds, Total Data Sent: 0 bytes, Total Data Received: 0 bytes, Total Data Transmitted: 0 bytes.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property instance_id from '0' to '-1'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property running_node from 'localhost2' to ''.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property first_attendee_join_time from '1474667890' to '0'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Updated meeting ID 16603960 property total_meeting_duration from '0' to '156'.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Attendee user1 left meeting 'Meeting (16603960)' (ID: 16603960) after 2 minute(s). Total Data Transmitted: 0 KB.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Attendee (side3943e6825b4c14d220934bfc40d605c362a39bf00000000) property leave_time updated from '0' to '1474668046' for meeting ID 16603960.
PulseSecure: 2018-01-09 00:00:46 - pulsesecure - [127.0.0.1] System()[] - Attendee (side3943e6825b4c14d220934bfc40d605c362a39bf00000000) property attendance_minutes updated from '0' to '156' for meeting ID 16603960.