2018-01-09T22:49:01+01:00  PulseSecure: 2018-01-09 22:49:01 - pulsesecure - [192.168.1.1] DOMAIN\user1(Realm_Company)[Role_Users] - VPN Tunneling: Session started for user with IPv4 address 10.10.10.10, hostname DESKTOP-USER1
2018-01-09T23:12:23+01:00  PulseSecure: 2018-01-09 23:12:23 - pulsesecure - [192.168.1.1] DOMAIN\user1(Realm_Company)[Role_Users] - VPN Tunneling: Session ended for user with IPv4 address 10.10.10.10
2018-01-09T17:53:50+02:00  PulseSecure: 2018-01-09 17:53:50 - pulsesecure - [192.168.1.1] DOMAIN\user1(Realm_Company)[Role_Users] - Connected to domain.test port 445