2018-01-09T17:54:41+02:00  PulseSecure: 2018-01-09 17:54:41 - pulsesecure - [1.2.3.4] DOMAIN\user1(Realm_Company)[Role_Access, Role_User] - Connected to domain.local port 445
2018-01-09T17:54:41+02:00  PulseSecure: 2018-01-09 17:54:41 - pulsesecure - [1.2.3.4] DOMAIN\user1(Realm_Company)[Role_Access, Role_User] - Closed connection to domain.local port 445 after 0 seconds, with 504 bytes read (in 2 chunks) and 267 bytes written (in 2 chunks)