2018-01-09T17:54:22+02:00 PulseSecure: 2018-01-09 17:54:22 - pulsesecure - [1.2.3.4] DOMAIN\user(Realm_Comapny)[Role_Access] - Host Checker policy 'AV' passed on host 1.2.3.4 for user 'DOMAIN\user'.
2018-01-09T17:40:39+02:00 PulseSecure: 2018-01-09 17:40:39 - pulsesecure - [1.2.3.4] DOMAIN\user(Realm_Company)[Role_Access] - System process detected a Host Checker time out on host 1.2.3.4 for user 'DOMAIN\user' (last update at 2018-01-09 17.23.42 +0200 CEST).
2018-01-09T17:48:47+02:00 PulseSecure: 2018-01-09 17:48:47 - pulsesecure - [1.2.3.4] DOMAIN\user(Realm_Company)[Role_Access] - Host Checker policy 'Computer certificate' failed on host 1.2.3.4 for user 'DOMAIN\user'. Reason: 'Rule-DOMAIN-Devices_Certificate:Machine certificate was not found'.
