2018-01-09T23:55:34+01:00  PulseSecure: 2018-01-09 23:55:34 - pulsesecure - [1.2.3.4] user1()[Role_Remote] - WebRequest ok : Host: 192.168.1.1, Request: /Microsoft-Server-ActiveSync?User=user1&DeviceId=ABCD1234&DeviceType=Outlook&Cmd=Sync
2018-01-09T22:20:12+01:00  PulseSecure: 2018-01-09 22:20:12 - pulsesecure - [1.2.3.4] DOMAIN\user2(Realm_Access)[Role_User] - WebRequest ok : Host: server1.domain.local, Request: GET /owa/themes/resources/resource.gif HTTP/1.1
2018-01-09T23:59:10+01:00  PulseSecure: 2018-01-09 23:59:10 - pulsesecure - [1.2.3.4] user3()[Role_Remote] - WebRequest completed, POST to https://192.168.1.1:443//Microsoft-Server-ActiveSync?User=user3&DeviceId=1234ABC&DeviceType=iPhone&Cmd=Ping from 192.168.1.1 result=200 sent=91 received=13 in 600 seconds
2018-01-09T23:34:01+01:00  PulseSecure: 2018-01-09 23:34:01 - pulsesecure - [1.2.3.4] user4(Realm_Access)[Role_Remote] - Access blocked after DNS lookup. Check Web ACL settings - Host: server3.domain.test, Request: GET /dtagent.js HTTP/1.1
2018-01-09T19:41:09+01:00  PulseSecure: 2018-01-09 19:41:09 - pulsesecure - [1.2.3.4] user5(Realm_Access)[Role_Remote] - WebRequest completed, GET to https://server4.domain.test:443//test.js from 1.2.3.4 result=200 sent=66 received=29803 in 0 seconds
2018-01-09T19:41:09+01:00  PulseSecure: 2018-01-09 19:41:09 - pulsesecure - [1.2.3.4] user5(Realm_Access)[Role_Remote] - WebRequest ok : Host: server4.domain.test, Request: GET /aotw/test.js HTTP/1.1