2018-01-09T19:36:17+01:00 PulseSecure: 2018-01-09 19:36:17 - pulsesecure - [192.168.1.1] admin(Adminsecu Users)[.Administrators] - Successfully exported configuration in XML to file '/tmp/ive-export.vc0.xml'.
2018-01-09T19:35:13+01:00 PulseSecure: 2018-01-09 19:35:13 - pulsesecure - [192.168.1.1] admin(Adminsecu Users)[.Administrators] - Exported user configuration by administrator admin
2018-01-09T19:34:44+01:00 PulseSecure: 2018-01-09 19:34:44 - pulsesecure - [192.168.1.1] admin(Adminsecu Users)[.Administrators] - Exported system configuration by administrator admin
2018-01-09T19:19:59+01:00 PulseSecure: 2018-01-09 19:19:59 - pulsesecure - [192.168.1.1] admin(Adminsecu Users)[.Administrators] - Admin saved user configuration as local backups
2018-01-09T19:19:25+01:00 PulseSecure: 2018-01-09 19:19:25 - pulsesecure - [192.168.1.1] admin(Adminsecu Users)[.Administrators] - Admin saved system configuration as local backups
2018-01-09T19:17:35+01:00 PulseSecure: 2018-01-09 19:17:35 - pulsesecure - [127.0.0.1] System()[] - Push of entire configuration to target 'pulsesecure' (url=https://192.168.1.1/admin) as part of job 'Mon Jan 9 19:15:20 2018' finished. Result=Success
2018-01-09T19:17:35+01:00 PulseSecure: 2018-01-09 19:17:35 - pulsesecure - [127.0.0.1] System()[] - Received entire configuration from '192.168.1.1' as part of job 'Mon Jan 9 19:15:20 2018' successfully.
2018-01-09T19:17:35+01:00 PulseSecure: 2018-01-09 19:17:35 - pulsesecure - [127.0.0.1] System()[] - Installed configuration pushed from 192.168.1.1 .
2018-01-09T19:16:19+01:00 PulseSecure: 2018-01-09 19:16:19 - pulsesecure - [127.0.0.1] System()[] - Imported system configuration. 
2018-01-09T19:16:01+01:00 PulseSecure: 2018-01-09 19:16:01 - pulsesecure - [127.0.0.1] System()[] - Imported user configuration. 
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Notification Channel Status Message' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Registration Status Message' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Registration Status' from 'stop' to 'stop' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'API URL (Base URL)' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'HMAC Key Id' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'HMAC Key' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Notification URL' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Device Id' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Credential Renegotiate Interval' from '6' to '6' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Registration Code' for 'Pulse One' configuration
2018-01-09T19:15:46+01:00 PulseSecure: 2018-01-09 19:15:46 - pulsesecure - [127.0.0.1] System()[] - Updated 'Registration URL' for 'Pulse One' configuration
2018-01-09T19:15:32+01:00 PulseSecure: 2018-01-09 19:15:32 - pulsesecure - [127.0.0.1] System()[] - Exported user configuration by administrator 
2018-01-09T19:15:26+01:00 PulseSecure: 2018-01-09 19:15:26 - pulsesecure - [127.0.0.1] System()[] - Exported system configuration by administrator 
2018-01-09T19:15:20+01:00 PulseSecure: 2018-01-09 19:15:20 - pulsesecure - [127.0.0.1] System()[] - Starting push of entire configuration to target 'pulsesecure' (url=https://192.168.1.1/admin) as part of job 'Mon Jan 9 19:15:20 2018'.
2018-01-09T19:15:20+01:00 PulseSecure: 2018-01-09 19:15:20 - pulsesecure - [192.168.1.1] admin(Adminsecu Users)[.Administrators] - Added job 'Mon Jan 9 19:15:20 2018' for Push Config.
2018-01-09T17:51:07+02:00 PulseSecure: 2018-01-09 17:51:07 - pulsesecure - [127.0.0.1] System()[] - User Accounts modified. Removed username DOMAIN\user1 from authentication server Active Directory.
2018-01-09T17:06:33+02:00 PulseSecure: 2018-01-09 17:06:33 - pulsesecure - [192.168.1.1] DOMAIN\user1(Realm_Domain)[Role_1, Role_2] - User Accounts modified. Added  with username domain\user1 to authentication server Active Directory.