/**********************************
override default splunk app stuff
***********************************/
body {
    -webkit-font-smoothing: antialiased;
}

body.splTemplate-dashboard, 
.viewHeader,
.TitleBar .splHeader,
.mainSearchControls {
    background-color: #F7F7F7;
}

div.AccountBar {
    background-color: #B4D1F7 !important;
    background-image: linear-gradient(top, #B4D1F7 8%, #94B6E1 54%) !important;
    background-image: -o-linear-gradient(top, #B4D1F7 8%, #94B6E1 54%) !important;
    background-image: -moz-linear-gradient(top, #B4D1F7 8%, #94B6E1 54%) !important;
    background-image: -webkit-linear-gradient(top, #B4D1F7 8%, #94B6E1 54%) !important;
    background-image: -ms-linear-gradient(top, #B4D1F7 8%, #94B6E1 54%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.08, #B4D1F7), color-stop(0.54, #94B6E1)) !important; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B4D1F7', endColorstr='#94B6E1'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B4D1F7', endColorstr='#94B6E1')"; /* IE8+ */  
}

ul.appBarNav li a {
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 23px;
}

div.mainSearchControls {
    border: none !important;
}


.appLogo {
     background: url(splunk_logo.png) no-repeat scroll 0 0 transparent !important;
     margin-top: 15px !important;
     margin-left: 3px !important;
     height: 39px !important;
     padding-right: 10px !important;
}

.appHeaderWrapper h1 {
    color: #FFFFFF !important;
    line-height: 45px !important;
    padding-top: 4px !important;
}

.splHeader-dashboard h2, .dashboardContent h1 {
    color: #3F3F3F !important;
    font-size: 18px !important;
    font-weight: 200 !important;
    font-family:"Helvetica nenu", Helvetica, Arial, sans-serif !important;
    line-height: normal !important;
    margin-bottom: 24px;
}

div.splHeader.splHeader-navigation {
    padding: 1px 0;
}

.accountBarItems a {
    color: #404040 !important;
}

.splIcon-triangle-3-s {
    background-position: -67px -367px;
}

.dashboardCell {
    padding: 24px;
}

.dashboardContent .WindowsMonitoringContent h1 {
    margin-bottom: 14px;
}

.winmonitoring-morereports h1 {
    margin-bottom:24px !important;
}

.winmonitoring-morereports ul {
    margin: 13px 0 0 0;
    padding: 0;
}

.winmonitoring-morereports ul li {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}

.splView-Win_Overview_Perfmon .mainSearchControls .TimeRangePicker a.timeRangeActivatorWrapper,
.splView-Win_Overview_App_Crashes .mainSearchControls .TimeRangePicker a.timeRangeActivatorWrapper,
.splView-Win_Overview_App_Installed .mainSearchControls .TimeRangePicker a.timeRangeActivatorWrapper,
.splView-Win_Overview_Win_Update .mainSearchControls .TimeRangePicker a.timeRangeActivatorWrapper {
    margin-top: 18px;
}

.splView-Win_Overview_Event .TimeRangePicker, .splView-Win_Overview_Event .SubmitButton {
    float: left;
}

.splView-Win_Overview_Event .TimeRangePicker {
    clear: both;
}
