[monitor:///opt/remedy_data/user/]
disabled = false
sourcetype = remedy_user

[monitor:///opt/remedy_data/api/]
disabled = false
sourcetype = remedy_api

[monitor:///opt/remedy_data/ar-error/]
disabled = false
sourcetype = remedy_arerror

[monitor:///opt/remedy_data/filter/]
disabled = false
sourcetype = remedy_filter

[monitor:///opt/remedy_data/escalation/]
disabled = false
sourcetype = remedy_escalation

[monitor:///opt/remedy_data/approval/]
disabled = true
sourcetype = remedy_approval

[monitor:///opt/remedy_data/ar-monitor/]
disabled = true
sourcetype = remedy_armonitor

[monitor:///opt/remedy_data/arplugin/]
disabled = true
sourcetype = remedy_arplugin

[monitor:///opt/remedy_data/cmdb/]
disabled = true
sourcetype = remedy_cmdb

[monitor:///opt/remedy_data/fulltextsearch/]
disabled = true
sourcetype = remedy_fulltextsrh

[monitor:///opt/remedy_data/mid-tier/]
disabled = true
sourcetype = remedy_midtier

[monitor:///opt/remedy_data/servergroup/]
disabled = true
sourcetype = remedy_servergroup

[monitor:///opt/remedy_data/sql/]
disabled = true
sourcetype = remedy_sql

[monitor:///opt/remedy_data/thread/]
disabled = true
sourcetype = remedy_thread

[monitor:///opt/remedy_data/tomcat/]
disabled = true
sourcetype = apache_tomcat

