## inputs.conf example. The stanza should be copied e.g. to $SPLUNK_HOME/etc/apps/Vectra_Stream_JSON_TA/local/inputs.conf

# Example input stanza when using Splunk as a syslog host

[tcp://<TCP_PORT_TO_LISTEN_TO>]
index = <your destination index goes here>
sourcetype = vectra:stream:json

# Example input when syslog-ng/rsyslog is used

[monitor:///var/log/vectra/*.log*]
index = <your destination index goes here>
sourcetype = vectra:stream:json