
##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-1-2020
##
##


certifi==2021.5.30
charset-normalizer==2.0.6
defusedxml==0.7.1
httplib2==0.19.1
idna==3.2
pyparsing==2.4.7
requests==2.26.0
sortedcontainers==2.4.0
splunk-sdk==1.6.16
urllib3==1.26.7
