/*
application.css file that tweaks the ui to reduce the whitespace.

To install, all you have to do is create / append to the application.css file under
$SPLUNK_HOME/etc/<appname>/appserver/static/

Last Update: 2011-02-12

*/


/*
Remove the Splunk logo's from the UI
Reduces the height of the logo area to reduce the whitepsace
*/
.appLogo {
    height: 14px; 
    width: 155px;
    padding-right: 5px;
    float: left;
    background-image: none;
    /*background: url(appLogo.png) no-repeat 0 0;
    _background: url(appLogo.gif) no-repeat 0 0;*/
}

/*
  Removes the Application Name from the Header
*/
.appHeaderWrapper h1 {
    display: none;
    line-height: 23px;
} 

/*
  Compress down the Summary / Search / Views / Swarches & Reports bar to take a little less space
*/
.splHeader {
  height: 20px;
  line-height: 20px;
}

/*
  Try to reposition the zoom in and zoom out icons a little
*/
.splIcon-zoom-in, .splIcon-zoom-out {
  background-position: 0px -20px;
}


/*
  Compress down the job status bar a little
*/
.JobStatus a {
  line-height: 20px;
}

/*
  Since we compressed this line, we need to reposition the images slightly so they still
  display correctly
*/
.JobStatus a.pause, .JobStatus a.unpause {
  background-position: 8px 2px;
}

.JobStatus .output ul li {
  background-position: 0px 2px;
}

.JobStatus a.background {
  background-position: 8px 2px;
}

.JobStatus a.finalize {
  background-position: 8px 2px;
}

.JobStatus a.resultsLink {
  background-position: 8px 2px;
}

.JobStatus a.cancel {
  background-position: 8px 2px;
}

.JobStatus a.save {
  background-position: 8px 2px;
}

/*
  Reduce the whitespace around the search bar
*/
.splSearchControls-inline table.mainSearchControlsTable {
  border-spacing: 0px;
}

/*
  Reduce the whitespace below the paging controls
*/
div.pageControls {
  padding-bottom: 1px;
}

/*
  Reduce the whitespace below the flash timeline
  Left at 5px so that the border can still be selected to make the timeline smaller,
  mainly because smaller than 5px is extremely hard to click in chrome
*/
.FlashWrapperContainer {
  padding-bottom: 5px;
}

/*
  Remove the flast timeline background image
*/
.FlashTimeline .splHeader-primary {
  background-image: none;
}

/*
  Reduce whitespace around the search results area of the page
*/
.SplunkModule {
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
}

/*
  Reduce the whitespace between search results
*/
.EventsViewer .default {
  padding-top: 0px;
  padding-bottom: 0px;
}

/*
  Change the font to prefer the monospace font and 11px size
*/
.EventsViewer .default .event {
  font-family: monospace;
  font-size: 11px;
}

/*
  Reduce the spacing in the field selector ui
*/
.MultiFieldViewer .fieldTabs a {
  padding-bottom: 1px;
  padding-top: 0px;
  padding-left: 5px;
}

.SuggestedFieldViewer .fieldTabs a {
  padding-bottom: 1px;
  padding-top: 0px;
  padding-left: 5px;
}

.SuggestedFieldViewer .allFieldsLink {
  padding-bottom: 1px;
  padding-top: 0px;
  padding-left: 5px;
}

/*
  I tried to shrink the sidebar for the field viewer, but this breaks the hide/unhide link somehow
*/
/*div.withSidebar div.sidebar {
  width: 160px;
}*/
