attrs==26.1.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-core==1.39.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-data-tables==12.7.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-eventhub-checkpointstoreblob==1.2.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-eventhub==5.15.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-identity==1.25.3 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-mgmt-compute==38.0.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-mgmt-core==1.6.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-mgmt-resource==25.0.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-storage-blob==12.29.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
cattrs==23.1.2 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
certifi==2025.8.3 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
cffi==2.0.0 ; python_full_version > "3.9.1" and (python_full_version < "3.10.0" or python_version >= "3.13") and python_full_version < "3.14.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.7 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
cryptography==48.0.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
defusedxml==0.7.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
deprecation==2.1.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
exceptiongroup==1.3.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
googleapis-common-protos==1.75.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
grpcio==1.80.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
idna==3.16 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
importlib-metadata==6.11.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
isodate==0.7.2 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
msal-extensions==1.3.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
msal==1.36.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
multidict==6.7.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
opentelemetry-api==1.39.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
opentelemetry-exporter-otlp-proto-common==1.39.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
opentelemetry-exporter-otlp-proto-grpc==1.39.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
opentelemetry-proto==1.39.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
opentelemetry-sdk==1.39.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
opentelemetry-semantic-conventions==0.60b1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
packaging==26.2 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
propcache==0.4.1 ; python_full_version > "3.9.1" and python_version < "3.10"
propcache==0.5.2 ; python_version >= "3.13" and python_full_version < "3.14.0"
protobuf==6.33.6 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
pycparser==2.23 ; python_full_version > "3.9.1" and python_version < "3.10" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pycparser==3.0 ; python_version >= "3.13" and python_full_version < "3.14.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pyjwt==2.13.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
pysocks==1.7.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
requests==2.32.5 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
solnlib==8.1.0 ; python_full_version > "3.9.1" and python_version < "3.10" or python_version == "3.13"
sortedcontainers==2.4.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
splunk-sdk==2.1.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
splunksdc @ git+ssh://git@github.com/splunk/splunksdc.git@85144f4e5a94d572a6d8204cbd53af72b6c21208 ; python_full_version > "3.9.1" and python_version < "3.10" or python_version == "3.13"
splunktalib==3.0.6 ; python_full_version > "3.9.1" and python_version < "3.10" or python_version == "3.13"
splunktaucclib==6.6.0 ; python_full_version > "3.9.1" and python_version < "3.10" or python_version == "3.13"
typing-extensions==4.15.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
u-msgpack-python==2.8.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
urllib3==1.26.19 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
websocket-client==1.8.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
yarl==1.22.0 ; python_full_version > "3.9.1" and python_version < "3.10"
yarl==1.24.2 ; python_version >= "3.13" and python_full_version < "3.14.0"
zipp==3.23.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
