[monitor:///tmp/digitalguardian/syslog_SplunkProjectAlerts.log]
index=digitalguardian
sourcetype=digitalguardian:alerts

[monitor:///tmp/digitalguardian/syslog_SplunkProjectEvents.log]
index=digitalguardian
sourcetype=digitalguardian:events

[monitor:///tmp/digitalguardian/syslog_SplunkProjectProcess.log]
index=digitalguardian
sourcetype=digitalguardian:process