[example_cem_alert]
# Set up your alert parameters as usual
search = index=main | head 5
dispatch.earliest_time = -1h
dispatch.latest_time = now
counttype = number of events
cron_schedule = 0 * * * *
enableSched = 1
quantity = 0
relation = greater than

# Enable and configure the CEM webhook alert
action.ibm_cem_alert = 1
action.ibm_cem_alert.param.cem_webhook = https://xxx.mybluemix.net/webhook/xxx/xxx/xxx
action.ibm_cem_alert.param.cem_resource_name = $host$
action.ibm_cem_alert.param.cem_resource_type = Server
action.ibm_cem_alert.param.cem_event_type = $result.type$
action.ibm_cem_alert.param.cem_severity = Major
action.ibm_cem_alert.param.cem_summary = $host$ errors reported. Details: $result.message$
action.ibm_cem_alert.param.cem_custom = sender.name:$owner$,expiryTime:900,type.statusOrThreshold:$result.OpenFiles$
