attrs==24.2.0 ; python_version >= "3.7" and python_version < "3.14"
boxsdk==3.14.0 ; python_version >= "3.7" and python_version < "3.14"
certifi==2025.6.15 ; python_version >= "3.7" and python_version < "3.14"
charset-normalizer==3.3.2 ; python_version >= "3.7" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "3.14"
deprecation==2.1.0 ; python_version >= "3.7" and python_version < "3.14"
idna==3.10 ; python_version >= "3.7" and python_version < "3.14"
importlib-metadata==6.7.0 ; python_version >= "3.7" and python_version < "3.8"
packaging==24.0 ; python_version >= "3.7" and python_version < "3.14"
pysocks==1.7.1 ; python_version >= "3.7" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.7" and python_version < "3.14"
requests-toolbelt==1.0.0 ; python_version >= "3.7" and python_version < "3.14"
requests==2.31.0 ; python_version >= "3.7" and python_version < "3.14"
six==1.16.0 ; python_version >= "3.7" and python_version < "3.14"
solnlib==6.3.0 ; python_version >= "3.7" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "3.14"
splunk-sdk==2.1.0 ; python_version >= "3.7" and python_version < "3.14"
splunktaucclib==8.0.0 ; python_version >= "3.7" and python_version < "3.14"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.8"
urllib3==1.26.20 ; python_version >= "3.7" and python_version < "3.14"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.8"
