host=f5bigip2 pool=Pool_Web_Production member=WebServer1 monitor=80 status=##STATUS##
host=f5bigip2 pool=Pool_Web_Production member=WebServer2 monitor=80 status=##STATUS##
host=f5bigip2 pool=Pool_Skype member=SkypeServer1 monitor=5061 status=##STATUS##
host=f5bigip2 pool=Pool_Skype member=SkypeServer2 monitor=443 status=##STATUS##
host=f5bigip2 pool=Pool_Oracle member=OracleDB1 monitor=3060 status=##STATUS##
host=f5bigip2 pool=Pool_Oracle member=OracleDB2 monitor=3060 status=##STATUS##
host=f5bigip2 pool=Pool_Intranet member=Server1 monitor=80 status=##STATUS##
host=f5bigip2 pool=Pool_Splunk member=SplunkServer monitor=514 status=##STATUS##
host=f5bigip2 pool=Pool_Fileshare member=Server monitor=22 status=##STATUS##
host=f5bigip2 pool=Pool_Extranet member=Server monitor=80 status=##STATUS##
host=f5bigip2 pool=Pool_Exchange_RPC member=ExchangeServer monitor=0 status=##STATUS##
host=f5bigip2 pool=Pool_Exchange_HUB member=ExchangeServer monitor=0 status=##STATUS##
host=f5bigip2 pool=Pool_Exchange_CAS member=ExchangeServer monitor=0 status=##STATUS##
host=f5bigip2 pool=Pool_Ftp member=FTPServer monitor=21 status=##STATUS##
host=f5bigip2 pool=Pool_DC member=DC monitor=389 status=##STATUS##
host=f5bigip2 pool=Pool_DC_dns member=DC monitor=0 status=##STATUS##
