pool=Pool_Web_Production member=WebServer1 monitor=80 count=##CONNS##
pool=Pool_Web_Production member=WebServer2 monitor=80 count=##CONNS##
pool=Pool_Skype member=SkypeServer1 monitor=5061 count=##CONNS##
pool=Pool_Skype member=SkypeServer2 monitor=443 count=##CONNS##
pool=Pool_Oracle member=OracleDB1 monitor=3060 count=##CONNS##
pool=Pool_Oracle member=OracleDB2 monitor=3060 count=##CONNS##
pool=Pool_Intranet member=Server1 monitor=80 count=##CONNS##
pool=Pool_Splunk member=SplunkServer monitor=514 count=##CONNS##
pool=Pool_Fileshare member=Server monitor=22 count=##CONNS##
pool=Pool_Extranet member=Server monitor=80 count=##CONNS##
pool=Pool_Exchange_RPC member=ExchangeServer monitor=0 count=##CONNS##
pool=Pool_Exchange_HUB member=ExchangeServer monitor=0 count=##CONNS##
pool=Pool_Exchange_CAS member=ExchangeServer monitor=0 count=##CONNS##
pool=Pool_Ftp member=FTPServer monitor=21 count=##CONNS##
pool=Pool_DC member=DC monitor=389 count=##CONNS##
pool=Pool_DC_dns member=DC monitor=0 count=##CONNS##
