0x42c03a00,  IM: XXXX Traffic Detected
0x42c01700,  IM: YYYY Messenger Server Lookup
0x42c03f00,  IM: MMMM Access Detected
0x40e01700,  IM: AAAA Alive
0x40017000,  UDP: Host Sweep
0x40605a00,  TELNET: Invalid Telnet Flow
0x4021e600,  HTTP: Internet Media Tunneling through HTTP
0x40e04c00,  IM: WWWW  Messenger File Transfer
0x40e01800,  IM: ZZZZ Messenger Alive
0x42c02b00,  IM: EEEE Talk Traffic Detected
0x42c04b00,  IM: Web Based Instant Messenger Services
0x40009900,  ICMP: Host Sweep
0x40009a00,  TCP: Full-Connect Host Sweep
0x40e01600,  IM: BBBB Messenger Alive
0x40e04b00,  IM: CCCC Messenger  File Transfer
0x40011300,  TCP: Illegal FIN Probe
0x42400200,  ARP: MAC Address Flip-Flop
0x40206e00,  HTTP: JJJJ Directory Listing
0x48300700,  WORM: Possible Worm Detected in Attachment
0x40302f00,  DNS: FFFF SMTP Service DNS resolver overflow
0x40009c00,  TCP: ACK Host Sweep
0x42c01500,  IM: HHHHH Messenger Server Lookup
0x42c02e00,  IM: IIIII Web-Client Traffic
0x40402e00,  SMTP: Mail Relay Attempt
0x45c01700,  SSL: Server-Initiated Key Renegotiation Detected
0x40009600,  TCP: ACK Port Scan
