2018-08-30T18:17:50+00:00 Server="EC2AMAZ-LRVBS0P" Domain="splunklab.local" InterfaceAlias="Ethernet 4" InterfaceIndex="12" NetworkCategory="DomainAuthenticated" IPv4Connectivity="Internet" IPv6Connectivity="NoTraffic" InterfaceDescription="Microsoft Hyper-V Network Adapter #4" Status="Up" MacAddress="00:0d:3a:1c:9a:96" LinkSpeed="40 Gbps" IPv4Address="10.1.0.11" IPv4PrefixLength="24" IPv4PrefixOrigin="Dhcp" IPv4SuffixOrigin="Dhcp" IPv4AddressState="Preferred" IPv4PreferredLifetime="10675199.02:48:05.4775807" IPv4SkipAsSource="False" IPv4PolicyStore="" IPv4DNS="10.1.0.11 10.2.0.11 127.0.0.1" IPv6Address="fe80::2d87:57ed:b701:ec01%12" IPv6PrefixLength="64" IPv6PrefixOrigin="WellKnown" IPv6SuffixOrigin="Link" IPv6AddressState="Preferred" IPv6ValidLifetime="10675199.02:48:05.4775807" IPv6PreferredLifetime="10675199.02:48:05.4775807" IPv6SkipAsSource="False" IPv6PolicyStore="" IPv6DNS="::1" DHCPServers="168.63.129.16"
2018-08-30T18:17:50+00:00 Server="ADSERVER" Domain="splunklab.local" InterfaceAlias="Ethernet 4" InterfaceIndex="12" NetworkCategory="DomainAuthenticated" IPv4Connectivity="Internet" IPv6Connectivity="NoTraffic" InterfaceDescription="Microsoft Hyper-V Network Adapter #4" Status="Up" MacAddress="00:0d:3a:1c:9a:1c" LinkSpeed="40 Gbps" IPv4Address="10.1.1.11" IPv4PrefixLength="24" IPv4PrefixOrigin="Dhcp" IPv4SuffixOrigin="Dhcp" IPv4AddressState="Preferred" IPv4PreferredLifetime="10675199.02:48:05.4775807" IPv4SkipAsSource="False" IPv4PolicyStore="" IPv4DNS="10.1.0.11 10.2.0.11 127.0.0.1" IPv6Address="fe80::2d87:57ed:b701:ec01%13" IPv6PrefixLength="64" IPv6PrefixOrigin="WellKnown" IPv6SuffixOrigin="Link" IPv6AddressState="Preferred" IPv6ValidLifetime="10675199.02:48:05.4775807" IPv6PreferredLifetime="10675199.02:48:05.4775807" IPv6SkipAsSource="False" IPv6PolicyStore="" IPv6DNS="::1" DHCPServers="168.63.129.16"
2018-08-30T18:17:50+00:00 Server="ADSERVER" Domain="splunklab.local" InterfaceAlias="Ethernet 3" InterfaceIndex="12" NetworkCategory="DomainAuthenticated" IPv4Connectivity="Internet" IPv6Connectivity="NoTraffic" InterfaceDescription="Microsoft Hyper-V Network Adapter #4" Status="Up" MacAddress="00:0d:3a:1c:9a:94" LinkSpeed="40 Gbps" IPv4Address="10.1.0.12" IPv4PrefixLength="24" IPv4PrefixOrigin="Manual" IPv4SuffixOrigin="Manual" IPv4AddressState="Preferred" IPv4PreferredLifetime="10675199.02:48:05.4775807" IPv4SkipAsSource="False" IPv4PolicyStore="" IPv4DNS="10.1.0.11 10.2.0.11 127.0.0.1" IPv6Address="fe80::2d87:57ed:b701:ec01%14" IPv6PrefixLength="64" IPv6PrefixOrigin="WellKnown" IPv6SuffixOrigin="Link" IPv6AddressState="Preferred" IPv6ValidLifetime="10675199.02:48:05.4775807" IPv6PreferredLifetime="10675199.02:48:05.4775807" IPv6SkipAsSource="False" IPv6PolicyStore="" IPv6DNS="::1" DHCPServers="168.63.129.16"
