date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="u4CFCkGR019207-u4CFCkGS019208" msg="STARTTLS=server, relay=info.domain.com [198.168.10.10], version=TLSv1.2, verify=NO, cipher=ECDHE-RSA-AES128-SHA, bits=128/128"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="u4CFCkiM019210-u4CFCkiO019211" msg="from=<johndoe1@domain.com>, size=35606, class=0, nrcpts=1, msgid=<123@mail.com>, proto=ESMTP, daemon=SMTP_MTA, relay=mail.com [6.6.6.6]"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="u4CFCkiM019210-u4CFCkiO019211" msg="to=<johndoe1@domain.com>, delay=00:00:01, xdelay=00:00:00, mailer=esmtp, pri=65896, relay=domain.com. [172.17.32.101], dsn=2.0.0, stat=Sent (<CAEaXFCCO3Z1G66GwGJz9fRT6OGiit2biqicu8uk=CiUa=C1YqQ@mail.ok.it> [InternalId=00000000006407, Hostname=asterix.domain.fr] Queued mail for delivery)"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="4CFCjxu019204-u4CFCjxw0000000000" msg="to=johndoe2@domain.com, mailer=bulk, stat=sent"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="4CFCjST019202-u4CFCjSV0000000000" msg="to=johndoe3@domain.com, mailer=bulk, stat=sent"