date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=webmail pri=information user=webmail ui=webmail action=unknown status=failure msg="WebMail: Login for 'user' from 1.2.3.4 failed"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=webmail pri=information user=webmail ui=webmail action=unknown status=success msg="WebMail: User 'user' from 1.2.3.4 logged in"