date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="u4CFCkiM019220-u4CFCkiO019220" msg="from=<johndoe@domain.com>, size=35606, class=0, nrcpts=1, msgid=<123@mail.com>, proto=ESMTP, daemon=SMTP_MTA, relay=mail.com [1.2.3.4]"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="u4CFCkiM019230-u4CFCkiO019230" msg="to=<johndoe2@domain.com>, delay=00:00:01, xdelay=00:00:00, mailer=esmtp, pri=65896, relay=domain.com. [192.168.1.254], dsn=2.0.0, stat=Sent (<abc@mail.com> [InternalId=00000000000001, Hostname=server.domain.fr] Queued mail for delivery)"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=smtp pri=information user=mail ui=mail action=NONE status=N/A session_id="4CFCjxu019208-u4CFCjxw0192030000" msg="to=johndoe3@domain.com, mailer=bulk, stat=sent"