date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=spam pri=information session_id="u4CFCkiM019210-u4CFCkiO019210" client_name="mail.domain.com [1.2.3.4]" dst_ip="192.168.4.4" from="johndoe@domain.com" to="johndoe@sample.com" subject="Order" msg="johndoe5@domain.com Personal white list: johndoe@domain.com; list entry: johndoe@domain.com"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=spam pri=information session_id="u4CFCo48019219-u4CFCo4A019219" client_name="mail.domain.com [1.2.2.1]" dst_ip="192.168.4.4" from="johndoe2@business.com" to="" subject="" msg="System White List: 10.11.12.14; list entry: 10.11.12.14"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=spam pri=information session_id="u4CFCnEU019216-u4CFCnEW019216" client_name="smtp.net [2.1.1.2]" dst_ip="192.168.4.4" from="mailreturn@sample.com" to="johndoe3@domain.com" subject="Weekly Newsletter" msg="Detected by ImageSpam check"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=spam pri=information session_id="u4CFCpXn019222-u4CFCpXo019222" client_name="smtp.com [4.1.1.4]" dst_ip="192.168.4.4" from="johndoe3@domain.com" to="" subject="" msg="System Black List: johndoe3@domain.com; list entry: *@*domain.com"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=spam pri=information session_id="u4CFCqJV019230-u4CFCqJX019230" client_name="smtp20.com [1.4.4.1]" dst_ip="192.168.4.4" from="bounce@domain.com" to="johndoe4@domain.com" subject="Offer" msg="FortiGuard-AntiSpam identified spam URI: http://domain.com/offer.html"