date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=admin pri=information user=admin ui=GUI(1.2.3.4) action=login status=failure reason=none msg="User admin login failed from GUI(1.2.3.4)"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=admin pri=information user=admin ui=GUI(1.2.3.4) action=login status=success reason=none msg="User admin login successfully from GUI(1.2.3.4)"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=admin pri=information user=admin ui=SSH(1.2.3.4) action=login status=failure reason=name_invalid msg="User admin login failed from SSH(1.2.3.4)"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=event subtype=admin pri=information user=admin ui=SSH(1.2.3.4) action=login status=success reason=none msg="User admin login successfully from SSH(1.2.3.4)"
