date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCnEU019216-u4CFCnEW019216" client_name="smtp.net [10.10.10.10]" dst_ip="192.168.100.100" from="mailreturn@sample.com" to="johndoe@domain.fr" polid="0:1:4" domain="domain.fr" subject="Weekly Newsletter" mailer="mta" resolved="OK" direction="in" virus="" disposition="Quarantine" classifier="Image Spam" message_length="303754"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCpXn019222-u4CFCpXo019222" client_name="internet.com [11.11.11.11]" dst_ip="192.168.100.100" from="johndoe2@domain.com" to="johndoe3@domain.com" polid="0:1:4" domain="domain.com" subject="Meeting" mailer="mta" resolved="OK" direction="in" virus="" disposition="Quarantine" classifier="System Black" message_length="106157"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCqJV019230-u4CFCqJX019230" client_name="smtp.com [12.12.12.12]" dst_ip="192.168.100.100" from="johndoe4@domain.com" to="johndoe5@domain.fr" polid="0:1:4" domain="domain.fr" subject="Internet" mailer="mta" resolved="OK" direction="in" virus="" disposition="Quarantine" classifier="FortiGuard AntiSpam-IP" message_length="28463"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCqJV019230-u4CFCqJY019230" client_name="smtp.com [13.13.13.13]" dst_ip="192.168.100.100" from="johndoe6@domain.com" to="johndoe7@domain.fr" polid="0:1:4" domain="domain.fr" subject="News" mailer="mta" resolved="OK" direction="in" virus="" disposition="Quarantine" classifier="FortiGuard AntiSpam-IP" message_length="10881"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCvPP019240-u4CFCvPQ019240" client_name="smtp.net [14.14.14.14]" dst_ip="192.168.100.100" from="johndoe8@domain.com" to="johndoe9@domain.fr" polid="0:1:4" domain="domain.fr" subject="Offer" mailer="mta" resolved="OK" direction="in" virus="" disposition="Quarantine" classifier="FortiGuard AntiSpam-IP" message_length="8770"
