date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=virus subtype=infected pri=information from="johndoe@domain.com" to="johndoe2@domain.fr" src="domain.com [1.1.1.1] (may be forged)" session_id="u4CFFNt4019700-u4CFFNt5019710" msg="archive bomb detected in attachment(s)"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=virus subtype=infected pri=information from="johndoe3@domain.com" to="johndoe4@domain.com" src="domain.com [2.2.2.2] (may be forged)" session_id="u4CFFtJ2019809-u4CFFtJ3019809" msg="attachment document doc.zip contains suspicious content"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=virus subtype=infected pri=information from="johndoe5@domain.com" to="johndoe5@domain.com" src="[3.3.3.3]" session_id="u4CFnWUE026721-u4CFnWUF026742" msg="The file 839.zip is infected with Malicious_Behavior.VEX.99."
