date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCkiM019219-u4CFCkiO019219" client_name="mail.test.com [1.2.3.4]" dst_ip="192.168.1.1" from="johndoe@mail.com" to="johndoe2@domain.com" polid="0:1:4" domain="domain.com" subject="Meeting" mailer="mta" resolved="OK" direction="in" virus="" disposition="Accept" classifier="User White" message_length="35606"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCkGR019227-u4CFCkGT019227" client_name="test.mail.com [4.3.2.1]" dst_ip="192.168.1.1" from="johndoe3@mail.com" to="johndoe4@domain.com" polid="0:1:1" domain="domain.com" subject="Feedback" mailer="mta" resolved="OK" direction="in" virus="" disposition="Accept" classifier="Not Spam" message_length="28358"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCmMn019223-u4CFCmMp019223" client_name="sample.mail.com [4.4.2.2]" dst_ip="192.168.1.1" from="johndoe4@newsletter.com" to="johndoe5@domain.fr" polid="0:1:4" domain="domain.fr" subject="Reminder" mailer="mta" resolved="OK" direction="in" virus="" disposition="Accept" classifier="Not Spam" message_length="58039"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCo48019319-u4CFCo4A019319" client_name="mail.sample.com [2.2.4.4]" dst_ip="192.168.1.1" from="johndoe6@business.fr" to="johndoe7@domain.com" polid="0:1:4" domain="domain.com" subject="Review" mailer="mta" resolved="OK" direction="in" virus="" disposition="Accept" classifier="System White" message_length="1947"
date=2016-07-31 time=00:00:00 device_id=FEVM000000000000 log_id=0000000000 type=statistics pri=information session_id="u4CFCnEU019226-u4CFCnEW019226" client_name="smtp.net [4.4.4.4]" dst_ip="192.168.1.1" from="mailreturn@sample.fr" to="johndoe8@domain.fr" polid="0:1:4" domain="domain.fr" subject="Newsletter" mailer="mta" resolved="OK" direction="in" virus="" disposition="Quarantine" classifier="Image Spam" message_length="303754"
