# ownCloud Logs
[monitor://var/www/owncloud/data/admin_audit.log]
disabled = false
index = owncloud

[monitor://var/www/owncloud/data/owncloud.log]
disabled = false
index = owncloud

# Metrics-API Inputs
[script://./bin/metrics_all.sh]
interval = 300
disabled = false
index = owncloud

[script://./bin/metrics_users.sh]
interval = 300
disabled = false
index = owncloud

[script://./bin/metrics_shares.sh]
interval = 300
disabled = false
index = owncloud

[script://./bin/metrics_quota.sh]
interval = 300
disabled = false
index = owncloud

[script://./bin/metrics_userData.sh]
interval = 300
disabled = false
index = owncloud

[script://./bin/metrics_files.sh]
interval = 300
disabled = false
index = owncloud

# oc.domain/status.php
[script://./bin/oc_status.sh]
interval = 300
disabled = false
index = owncloud