Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 fd=276 ACCEPT from IP=192.126.1.10:56570 (IP=10.10.10.10:636)
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 fd=276 closed (connection lost)
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=3 RESULT tag=97 err=49 text=
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=3 BIND dn="cn=user1,ou=methodes,ou=projects,dc=example,dc=com" method=128
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=3 BIND anonymous mech=implicit ssf=0
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=2 SEARCH RESULT tag=101 err=0 nentries=1 text=
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=2 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(uid=user1)"
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=1 SEARCH RESULT tag=101 err=0 nentries=1 text=
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=1 SRCH attr=altServer namingContexts supportedCapabilities supportedControl supportedExtension supportedFeatures supportedLdapVersion supportedSASLMechanisms
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=1 SRCH base="" scope=0 deref=0 filter="(objectClass=*)"
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=0 RESULT tag=97 err=0 text=
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=0 BIND dn="cn=service-account,ou=profile,dc=example,dc=com" mech=SIMPLE ssf=0
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 op=0 BIND dn="cn=service-account,ou=profile,dc=example,dc=com" method=128
Mar 12 18:32:04 ldap-server slapd[6088]: conn=1 fd=276 TLS established tls_ssf=256 ssf=256
Mar 12 18:35:14 ldap-server slapd[6088]: conn=1 fd=276 ACCEPT from IP=192.126.1.20:56580 (IP=10.10.10.10:636)
Mar 12 18:35:14 ldap-server slapd[6088]: conn=2 op=3 SEARCH RESULT tag=101 err=0 nentries=1 text=
Mar 12 18:35:14 ldap-server slapd[6088]: conn=2 op=3 SRCH attr=objectClass uid userPassword uidNumber gidNumber gecos homeDirectory loginShell krbPrincipalName cn modifyTimestamp modifyTimestamp shadowLastChange shadowMin shadowMax shadowWarning shadowInactive shadowExpire shadowFlag krbLastPwdChange krbPasswordExpiration pwdAttribute authorizedService accountExpires userAccountControl nsAccountLock host loginDisabled loginExpirationTime loginAllowedTimeMap sshPublicKey
Mar 12 18:35:14 ldap-server slapd[6088]: conn=2 op=3 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(&(uid=user2)(objectClass=posixAccount)(uid=*)(&(uidNumber=*)(!(uidNumber=0))))"
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=6 SEARCH RESULT tag=101 err=0 nentries=1 text=
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=6 SRCH attr=objectClass cn userPassword gidNumber memberuid modifyTimestamp modifyTimestamp
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=6 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(&(gidNumber=25740)(objectClass=posixGroup)(cn=*)(&(gidNumber=*)(!(gidNumber=0))))"
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=5 SEARCH RESULT tag=101 err=0 nentries=2 text=
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=5 SRCH attr=objectClass cn userPassword gidNumber modifyTimestamp modifyTimestamp
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=5 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(&(memberUid=user2)(objectClass=posixGroup)(cn=*)(&(gidNumber=*)(!(gidNumber=0))))"
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=7 SEARCH RESULT tag=101 err=0 nentries=1 text=
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=7 SRCH attr=objectClass uid userPassword uidNumber gidNumber gecos homeDirectory loginShell krbPrincipalName cn modifyTimestamp modifyTimestamp shadowLastChange shadowMin shadowMax shadowWarning shadowInactive shadowExpire shadowFlag krbLastPwdChange krbPasswordExpiration pwdAttribute authorizedService accountExpires userAccountControl nsAccountLock host loginDisabled loginExpirationTime loginAllowedTimeMap sshPublicKey
Mar 12 18:35:23 ldap-server slapd[6088]: conn=2 op=7 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(&(uidNumber=19658)(objectClass=posixAccount)(uid=*)(&(uidNumber=*)(!(uidNumber=0))))"
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=10 SEARCH RESULT tag=101 err=0 nentries=1 text=
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=10 SRCH attr=objectClass cn userPassword gidNumber memberuid modifyTimestamp modifyTimestamp
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=10 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(&(gidNumber=25740)(objectClass=posixGroup)(cn=*)(&(gidNumber=*)(!(gidNumber=0))))"
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=9 SEARCH RESULT tag=101 err=0 nentries=2 text=
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=9 SRCH attr=objectClass cn userPassword gidNumber modifyTimestamp modifyTimestamp
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=9 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(&(memberUid=user2)(objectClass=posixGroup)(cn=*)(&(gidNumber=*)(!(gidNumber=0))))"
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=8 SEARCH RESULT tag=101 err=0 nentries=1 text=
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=8 SRCH attr=objectClass uid userPassword uidNumber gidNumber gecos homeDirectory loginShell krbPrincipalName cn modifyTimestamp modifyTimestamp shadowLastChange shadowMin shadowMax shadowWarning shadowInactive shadowExpire shadowFlag krbLastPwdChange krbPasswordExpiration pwdAttribute authorizedService accountExpires userAccountControl nsAccountLock host loginDisabled loginExpirationTime loginAllowedTimeMap sshPublicKey
Mar 12 18:35:50 ldap-server slapd[6088]: conn=2 op=8 SRCH base="dc=example,dc=com" scope=2 deref=0 filter="(&(uid=user2)(objectClass=posixAccount)(&(uidNumber=*)(!(uidNumber=0))))"