[monitor:///var/log/messages]
sourcetype = violin:fsp:mglogs
disabled = 0

[monitor:///var/log/acm]
sourcetype = violin:fsp:acmlogs
disabled = 0

[monitor:///PRODUCT/concerto/log/callhome/callhome.log]
sourcetype = violin:fsp:mglogs
disabled = 0