boto3>=1.34.103
# fix VULN-22681 with remediation to 2024.7.4
certifi>=2024.7.4
kubernetes>=22.6.0
oauthlib>=3.0.2
openshift>=0.13.1
requests_oauthlib>=1.2.0
# fix DSDL-45 update splunk sdk for cloud compatibility >= 2.0.2
#splunk-sdk>=1.6.19
splunk-sdk>=2.0.2
websocket-client>=0.56.0
pyyaml>=5.4.1
docker>=7.0.0
# fix requests CVE-2024-35195
requests>=2.32.0