{"threatInfo":{"time":"__eventtime__","indicators":[{"sha256Hash":"__sha256_hash__","indicatorName":"BUFFER_OVERFLOW","applicationName":"__application_name__"},{"sha256Hash":"__sha256_hash__","indicatorName":"INJECT_CODE","applicationName":"__application_name__"}],"summary":"Threat Summary __alert_rule_number__","score":"__score__","incidentId":"__incident_id__"}}
