{"policyAction":{"sha256Hash":"2552332222112552332222112552332222112552332222112552332222112552","action":"__policy_action__","reputation":"KNOWN_MALWARE","applicationName":"firefox.exe"},"type":"POLICY_ACTION","eventTime":"__eventtime__","eventId":"EV1","url":"http://carbonblack.com/ui#device/100/hash/2552332222112552332222112552332222112552332222112552332222112552/app/firefox.exe/keyword/terminate policy action","deviceInfo":{"deviceType":"__device_type__","email":"__email__","deviceId":100,"deviceName":"__device_name__","deviceHostName":null,"deviceVersion":"__device_version__","targetPriorityType":"__priority_type__","targetPriorityCode":0,"internalIpAddress":"__internal_ip__","groupName":"__group_name__","externalIpAddress":"__external_ip__"},"eventDescription":"Policy action __alert_rule_number__","ruleName":"Alert Rule __alert_rule_number__"}
