{"threatInfo":{"time":"__eventtime__","indicators":[{"sha256Hash":"__sha256_hash__","indicatorName":"BUFFER_OVERFLOW","applicationName":"__application_name__"},{"sha256Hash":"__sha256_hash2__","indicatorName":"INJECT_CODE","applicationName":"__application_name2__"}],"summary":"Threat Summary __alert_rule_number__","score":"__score__","incidentId":"__incident_id__"},"type":"THREAT","eventTime":"__eventtime2__","eventId":"EV2","url":"http://carbonblack.com/ui#device/100/incident/ABCDEF","deviceInfo":{"deviceType":"__device_type__","email":"__email__","deviceId":100,"deviceName":"__device_name__","deviceHostName":null,"deviceVersion":"__device_version__","targetPriorityType":"__priority_type__","targetPriorityCode":0,"internalIpAddress":"__internal_ip__","groupName":"__group_name__","externalIpAddress":"__external_ip__"},"eventDescription":"Threat summary __alert_rule_number__","ruleName":"Alert Rule __alert_rule_number__"}
