{"type":"THREAT","eventTime":"__eventtime__","eventId":"EV2","url":"http://carbonblack.com/ui#device/100/incident/ABCDEF","deviceInfo":{"deviceType":"__device_type__","email":"__email__","deviceId":100,"deviceName":"__device_name__","deviceHostName":null,"deviceVersion":"__device_version__","targetPriorityType":"__priority_type__","targetPriorityCode":0,"internalIpAddress":"__internal_ip__","groupName":"__group_name__","externalIpAddress":"__external_ip__"},"eventDescription":"Threat summary __alert_rule_number__","ruleName":"Alert Rule __alert_rule_number__"}
