ACME-001,birodivulga162@acme.net,Windows,Vista
ACME-002,nildajcbonanno@acme.net,Windows,10
ACME-003,ivettaadelima@acme.net,Windows,Vista
ACME-004,pckomono@acme.net,Windows,ME
ACME-005,Looreeto@acme.net,Windows,XP
ACME-006,Rose@acme.net,MAC,Mojave
HOST-001,TheDoctor@acme.net,Mac,Mojave
HOST-002,Plato@acme.net,Linux,Ubuntu
HOST-003,Socrates@acme.net,Windows,XP
HOST-004,ImmanuelKant@acme.net,Windows,7
HOST-005,Ghandi@acme.net,Windows,7SP1
HOST-006,EkhartTolle@acme.net,Mac,Sierra