/*
 * Special stuff to override splunk's global css
 */
.WindowsMonitoringDropdown input, .WindowsMonitoringDropdown textarea, .WindowsMonitoringDropdown select {
    padding: 4px 7px;
    margin:0;
    border-width: 1px;
    border-style: solid;
    float: left;
    border-right: none;
    height: 12px;
}
.WindowsMonitoringDropdown .ui-button {
	height: 20px;
	float: left;
    border-left: none;
    position:relative;
    cursor: pointer;
    background-color: #D5D5D1;
    background-image: url(/static/img/skins/default/overlay_topgradient_white.png);
    background-repeat: repeat-x;
}

.WindowsMonitoringDropdown .solndropdown-label-container {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 5px;
}

div.WindowsMonitoringDropdown {
    margin: 2px;
}

div.WindowsMonitoringDropdown div:last-child {
    clear:both;
}

.ie10 .WindowsMonitoringDropdown input, 
.ie9 .WindowsMonitoringDropdown input, 
.ie8 .WindowsMonitoringDropdown input, 
.ie7 .WindowsMonitoringDropdown input, 
.ie6 .WindowsMonitoringDropdown input {
    padding-top:0px !important;
    padding-bottom: 0px !important;
    height: 20px;
}

.WindowsMonitoringDropdownLabel {
    font-size: 12px;
}

div.WindowsMonitoringDropdown.WindowsMonitoringDropdownTopLabel .solndropdown-label-container {
    float: none !important;
}

div.WindowsMonitoringDropdown.WindowsMonitoringDropdownTopLabel {
    margin: 0 10px;
    padding: 0;
}

div.WindowsMonitoringDropdown.WindowsMonitoringDropdownTopLabel .solndropdown-container {
    margin-top: 5px;
}
