/* Basic Typography
---------------------------------*/
body, td {
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    color: #000;
}

input, textarea, select {
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color: #000;
}
input {
    color: #888;
}

/* monospaced font */
.splFont-mono {
    font-family: Consolas,Monaco,Courier New,monospace;
}

.splHeader-dashboard h2 {
	color: #fff;
	font-weight: normal;
	padding-left: 10px;
	background: #009199;
	line-height: 36px;
	float: none;
	margin: 20px 0;
}

/* background colors
---------------------------------*/

/* default page color */
body, .splBackground-default, 
.graphArea, .resultsArea,  
.reportSecondPanel, .reportThirdPanel, 
.sidebarCollapsed,
.SearchBar .saTypeaheadWrapper,
.ui-datepicker-links,
.popupContent,
.SearchBar .assistantContainer {
    background-color: rgba(227, 227, 227, 0.7);
}

/* primary background - applies to search controls and primary action panels */
.viewHeader, .mainSearchControls, .splSearchControls-inline,
.SearchBar .saHelpWrapper,
.popupContent  {
    background-color: rgba(227, 227, 227, 0.7);
}

/* secondary background - sidebar, other panels */
.splBackground-secondary, .sidebarExpanded,
.fieldValuePopup p.reportLinks,
.fieldValuePopup div.reportLinks {
    background-color: #fff;
}

.TimeRangePicker .timeRangeActivatorWrapper {
    background-color: #fff;
}

/* Specific overrides */
.layoutCellInner .ResultsHeader .splHeader, .layoutCellInner .ResultsHeader .splHeader-secondary {
    background: transparent none;
}

/* Specific overrides */
.popupFooter {
    background-color: #363430;
}

/* dashboard background color */
body.splTemplate-dashboard {
    background-color: #fff;
}

/* dashboard containers */
.dashboardCell {
    background-color: transparent;
    background-image:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    _background-image: none;   /* for IE6 */
}

.dashboardContent {
	background-color: rgba(227, 227, 227, 0.7);
}

/* App header elements
---------------------------------*/

/* Application logo

height and width should be the same as your image. make sure to include some top and buttom margin in the padding.

Black logo, green >
    background-image: url(appLogo_black.png);
Black logo, black >
    background-image: url(appLogo_allblack.png);
White logo, green >
    background-image: url(appLogo_white.png);
White logo, white >
    background-image: url(appLogo_allwhite.png);
    
For IE6, use the following images. Note that if you make a background color other than black or white (or close to it) you will need to redo the transparent GIF matte.
White logo, green > for IE6, transparent against black
    background-image: url(appLogo_white.gif);
Black logo, green > for IE6, transparent against white
    background-image: url(appLogo_black.gif);
*/

.appLogo {
    width: 80px;
    height: 43px; 
    background-image: url("appLogo.png");
    background-repeat: no-repeat;
}

/* the name of your app. line height can be adjusted to fix alignment issues w/ the logo. color is the color of the text. if your logo has the name in it, then you can set this to "display:none;  */

.appHeaderWrapper h1 {
	color: #fff;
}


/* background-color and/or image of your app */
.appHeaderWrapper {
    background: url("pattern.png") repeat;
}

/* color of top-right text */
.appHeaderWrapper {
    color: #fff;
}
/* color of top-right links */
.appHeaderWrapper a {
    color: #fff;
}

/* Hover color of nav elements */
ul.appBarNav li a:hover {
    background: #000;
}


/* Layout elements
---------------------------------*/
.layoutCellInner {
	margin: 0;
	padding: 0;
	border: none;
}
.firstCell .layoutCellInner {
	margin: 0;
}
.layoutCell .dashboardCell {
	margin: 0 20px;
}
.splHeader-dashboard {
	padding: 0;
}
.dashboardContent {
	padding: 7px 10px;
}


.splFormSearch .viewHeader {
  padding-bottom: 10px;
}

/* Form layout */
.splFormSearch .viewHeader .SplunkModule {
  padding: 0 0 0 0;
}

.splFormSearch .viewHeader .TimeRangePicker,
.splFormSearch .viewHeader .SubmitButton {
  padding-top: 17px;
}

.splFormSearch .viewHeader .SearchSelectLister,
.splFormSearch .viewHeader .StaticSelect,
.splFormSearch .viewHeader .TimeRangePicker,
.splFormSearch .viewHeader .ExtendedFieldSearch,
.splFormSearch .viewHeader .StaticRadio,
.splFormSearch .viewHeader .SubmitButton {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.splFormSearch .viewHeader {
  padding-bottom: 10px;
}

.splFormSearch .viewHeader .SplunkModule {
  padding: 0 0 0 0;
}

.splFormSearch .viewHeader .TimeRangePicker,
.splFormSearch .viewHeader .SubmitButton {
  /*padding-top: 21px;*/
}

.splFormSearch .viewHeader .SearchSelectLister,
.splFormSearch .viewHeader .StaticSelect,
.splFormSearch .viewHeader .TimeRangePicker,
.splFormSearch .viewHeader .ExtendedFieldSearch,
.splFormSearch .viewHeader .StaticRadio,
.splFormSearch .viewHeader .SubmitButton {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.splFormSearch .viewHeader .SearchSelectLister label,
.splFormSearch .viewHeader .StaticSelect label,
.splFormSearch .viewHeader .ExtendedFieldSearch label {
  display: block;
}

.splFormSearch .viewHeader .SearchSelectLister select,
.splFormSearch .viewHeader .StaticSelect select {
  min-width: 250px;
  line-height: 23px;
  height: 23px;
  border: 0;
}

.splFormSearch .viewHeader input {
  padding: 4px;
}

.greyedOut {
  opacity: 1.0;
}
