{"name": "##entity_name##", "id": 10204675, "reporting": false, "crash_summary": {"crash_count": 0, "unresolved_crash_count": 0, "supports_crash_data": false, "crash_rate": 0}, "health_status": "gray", "mobile_summary": {"active_users": 0, "calls_per_session": 0, "throughput": 0, "failed_call_rate": 0, "launch_count": 0, "remote_error_rate": 0, "response_time": 0, "interaction_time": 0}}