{"id": 14530668, "entity": {"id": 26080110, "product": "Apm", "name": "##entity_name##", "type": "Application", "group_id": 26080110}, "policy_name": "SCM policy", "duration": 660, "condition_name": "Throughput (confluence) (Low)", "opened_at": 1489260000000, "links": {"policy_id": 12250, "condition_id": 282194}, "label": "Web throughput < 25 for at least 5 minutes", "priority": "Critical", "closed_at": 1489260660000}
{"id": 14525880, "entity": {"id": 26079028, "product": "Apm", "name": "##entity_name##", "type": "Application", "group_id": 26079028}, "policy_name": "SCM policy", "duration": 180, "condition_name": "Throughput (confluence) (Low)", "opened_at": 1489254360000, "links": {"policy_id": 12250, "condition_id": 282194}, "label": "Web throughput < 25 for at least 5 minutes", "priority": "Critical", "closed_at": 1489254540000}
{"id": 10681319, "entity": {"id": 26079028, "product": "Apm", "name": "##entity_name##", "type": "Application", "group_id": 26079028}, "policy_name": "SCM policy", "duration": 1620, "condition_name": "Throughput (confluence) (Low)", "opened_at": 1485724800000, "links": {"policy_id": 12250, "condition_id": 282194}, "label": "Web throughput < 100 for at least 5 minutes", "priority": "Critical", "closed_at": 1485726420000}
{"id": 10678024, "entity": {"id": 26079028, "product": "Apm", "name": "##entity_name##", "type": "Application", "group_id": 26079028}, "policy_name": "SCM policy", "duration": 3240, "condition_name": "Throughput (confluence) (Low)", "opened_at": 1485720840000, "links": {"policy_id": 12250, "condition_id": 282194}, "label": "Web throughput < 100 for at least 5 minutes", "priority": "Critical", "closed_at": 1485724080000}
{"id": 10661173, "entity": {"id": 26079028, "product": "Apm", "name": "##entity_name##", "type": "Application", "group_id": 26079028}, "policy_name": "SCM policy", "duration": 19260, "condition_name": "Throughput (confluence) (Low)", "opened_at": 1485700620000, "links": {"policy_id": 12250, "condition_id": 282194}, "label": "Web throughput < 100 for at least 5 minutes", "priority": "Critical", "closed_at": 1485719880000}
