{"id": 20765705, "name": "##entity_name##", "application_summary": {"throughput": 0.333, "apdex_target": 0.5, "error_rate": 0.0, "host_count": 2, "apdex_score": 1.0, "instance_count": 2, "response_time": 5.64}, "language": "java", "links": {"servers": [20730004, 20730005], "application_instances": [20765706, 20765810], "application_hosts": [20726181, 20739783], "alert_policy": 265556}, "reporting": true, "health_status": "green", "settings": {"enable_real_user_monitoring": true, "app_apdex_threshold": 0.5, "end_user_apdex_threshold": 7.0, "use_server_side_config": false}, "last_reported_at": "2017-03-16T21:14:52+00:00"}
{"id": 24035070, "name": "##entity_name##", "application_summary": {"throughput": 1.0, "apdex_target": 0.5, "error_rate": 0.0, "host_count": 1, "apdex_score": 1.0, "instance_count": 1, "response_time": 3.54}, "language": "java", "links": {"servers": [24033446, 28003865], "application_instances": [24035108, 24038760], "application_hosts": [24035071, 24038735], "alert_policy": 265556}, "reporting": true, "health_status": "green", "settings": {"enable_real_user_monitoring": true, "app_apdex_threshold": 0.5, "end_user_apdex_threshold": 7.0, "use_server_side_config": false}, "last_reported_at": "2017-03-16T21:15:01+00:00"}
{"id": 24083548, "name": "##entity_name##", "application_summary": {"throughput": 2590.0, "apdex_target": 0.5, "error_rate": 0.0024, "host_count": 2, "apdex_score": 0.99, "instance_count": 2, "response_time": 21.5}, "language": "java", "links": {"servers": [24467315, 24467219], "application_instances": [24083550, 24083915], "application_hosts": [24083549, 24083907], "alert_policy": 265556}, "reporting": true, "health_status": "green", "settings": {"enable_real_user_monitoring": true, "app_apdex_threshold": 0.5, "end_user_apdex_threshold": 7.0, "use_server_side_config": false}, "last_reported_at": "2017-03-16T21:14:07+00:00"}
{"id": 26079027, "name": "##entity_name##", "application_summary": {"throughput": 2040.0, "apdex_target": 0.5, "error_rate": 0.0, "host_count": 2, "apdex_score": 1.0, "instance_count": 2, "response_time": 38.0}, "language": "java", "links": {"servers": [26076468, 26079864], "application_instances": [26079032, 26080115], "application_hosts": [26079031, 26080111], "alert_policy": 265556}, "reporting": true, "health_status": "green", "settings": {"enable_real_user_monitoring": true, "app_apdex_threshold": 0.5, "end_user_apdex_threshold": 7.0, "use_server_side_config": false}, "last_reported_at": "2017-03-16T21:14:00+00:00"}
{"id": 26079028, "name": "##entity_name##", "application_summary": {"throughput": 1150.0, "apdex_target": 0.5, "error_rate": 0.0, "host_count": 1, "apdex_score": 1.0, "instance_count": 2, "response_time": 40.9}, "language": "java", "links": {"servers": [26076468], "application_instances": [26079032, 34995175], "application_hosts": [26079031], "alert_policy": 265556}, "reporting": true, "health_status": "green", "settings": {"enable_real_user_monitoring": true, "app_apdex_threshold": 0.5, "end_user_apdex_threshold": 7.0, "use_server_side_config": false}, "last_reported_at": "2017-03-16T21:14:00+00:00"}
