{"id": 26391523, "browser_monitoring_key": "1eb7a55e1c", "name": "##entity_name##", "loader_script": "##load_script##"}
{"id": 26079027, "browser_monitoring_key": "1eb7a55e1c", "name": "##entity_name##", "loader_script": "##load_script##"}
{"id": 32160861, "browser_monitoring_key": "1eb7a55e1c", "name": "##entity_name##", "loader_script": "##load_script##"}
{"id": 24035070, "browser_monitoring_key": "1eb7a55e1c", "name": "##entity_name##", "loader_script": "##load_script##"}
{"id": 28005031, "browser_monitoring_key": "1eb7a55e1c", "name": "##entity_name##", "loader_script": "##load_script##"}

