{"last_reported_at": "2017-03-16T21:17:10+00:00", "links": {"application": 24083548}, "reporting": true, "health_status": "green", "application_summary": {"apdex_target": 0.5, "apdex_score": 1.0, "response_time": 8.79, "error_rate": 0, "throughput": 47.7}, "id": 21311, "name": "/file-server", "transaction_name": "/file-server"}
{"last_reported_at": "2017-03-16T21:17:10+00:00", "links": {"application": 24083548}, "reporting": true, "health_status": "green", "application_summary": {"apdex_target": 0.5, "apdex_score": 0.81, "response_time": 516.0, "error_rate": 0, "throughput": 12.0}, "id": 21479, "name": "/browse/*", "transaction_name": "/browse/*"}
{"last_reported_at": "2017-03-16T21:17:11+00:00", "links": {"application": 26391523}, "reporting": true, "health_status": "red", "application_summary": {"apdex_target": 0.5, "apdex_score": 0.42, "response_time": 577.0, "error_rate": 43.6, "throughput": 86.3}, "id": 22171, "name": "/scmServlet", "transaction_name": "/scmServlet"}
{"last_reported_at": "2017-03-16T21:17:10+00:00", "links": {"application": 24083548}, "reporting": true, "health_status": "green", "application_summary": {"apdex_target": 0.5, "apdex_score": 1.0, "response_time": 41.2, "error_rate": 0, "throughput": 0.667}, "id": 23272, "name": "/login.jsp", "transaction_name": "/login.jsp"}
{"last_reported_at": "2017-03-16T21:17:09+00:00", "links": {"application": 32160861}, "reporting": true, "health_status": "green", "application_summary": {"apdex_target": 0.5, "apdex_score": 1.0, "response_time": 14.2, "error_rate": 0, "throughput": 0.333}, "id": 23273, "name": "/session (POST)", "transaction_name": "/session (POST)"}
