/*
**Please ensure not to place this Comments section in the running json file**

This configuration file ensure the correctness of pre-processing the data, before it is sent to InsightFinder.
timestamp_field should contain the name of the field, that holds the value of timestamp for the search results.
Within the object "fields", please enter the different fieldnames to be tracked. The fieldnames should correspond to the names 
stored in Splunk or outputted by Splunk search.
In the example below, the app is monitoring Cassandra metrics. The fieldnames of the metrics are: cpu_10_10_112_181__1, cpu_10_10_113_112__1, mem_10_10_112_181__2, mem_10_10_113_112__2

Note: If you're using Splunk to monitor an existing CSV file, please note that the field-names outputted by Splunk do NOT have 
special characters, and hence may be different from the header of the CSV used. 
Eg: The CSV Header "DiskRead#MB" gets converted to "DiskRead_MB" by Splunk. 
To find the field names to use, run the Search query from the Splunk web-app and use the field names returned in the results

This object accepts the properties groupId, variable_type, datatype and metricName.
Accepted values are:
	groupId: Integers to group similar metrics and units together. Must be distinct across data sources for a single InsightFinder project. 
	         In the example below, Latencies are grouped together, since they're similar.
	instanceName: Name of the instance which this metrics belongs to
	metricName: The name to be used when generating the model at InsightFinder. Valid metricNames do NOT contain parantheses

*/

{
	"timestamp_field": "timestamp",
	"fields": {
		"cpu_10_10_112_181__1": {
			"groupId": "1",
			"instanceName": "10.10.112.181",
			"metricName": "cpu"
		},
		"cpu_10_10_113_112__1": {
			"groupId": "1",
			"instanceName": "10.10.113.112",
			"metricName": "cpu"
		},
		"mem_10_10_112_181__2": {
			"groupId": "2",
			"instanceName": "10.10.112.181",
			"metricName": "mem"
		},
		"mem_10_10_113_112__2": {
			"groupId": "2",
			"instanceName": "10.10.113.112",
			"metricName": "mem"
		}
	}
}
