# Core dependencies
splunktaucclib~=8.0.0
splunk-sdk~=2.1.0
solnlib~=7.0.0

# don't upgrade requests to 2.32.x or higher as it dropped support for Python3.7
# If for some reason you need to upgrade request to latest then drop App support
# for Splunk versions <= 9.2.x.
# Splunk supports Python 3.9 only from version 9.3.x
requests==2.31.0
