[jds-arm]
enableDataIntegrityControl = 0
enableTsidxReduction = 0
maxTotalDataSizeMB = 512000
homePath = $SPLUNK_DB/jds-arm/db
coldPath = $SPLUNK_DB/jds-arm/colddb
thawedPath = $SPLUNK_DB/jds-arm/thaweddb