.appLogo {
    height: 50px; 
    width: 220px;
    padding-right: 5px;
    float: left;
    background: url(appLogo.png) no-repeat 0 0;
    _background: url(appLogo.gif) no-repeat 0 0;
}

.splTemplate-dashboard h1, 
.splTemplate-dashboard h2, 
.splTemplate-dashboard h3 {
    color: #000000;
}

.appHeaderWrapper h1 {
    display: none;
} 

.AccountBar {
    background-color: #FFFFFF;
    height: 60px;
}
 
.AccountBar p.appName {
    display: none;
}

.AccountBar .accountBarItems {
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.AppBar {
    font-size: 12px;
    font-variant: small-caps;
}

.AppBar .auxLinks {
    display:none;
}

.AppBar a {
    color: #1464F4 !important;
}

.AppBar a:hover {
    color: #FFFFFF !important;
}

.splButton-primary,
input.searchButton {
    background-color: #1464F4;
}
.splButton-primary:hover,
input.searchButton:hover {
    background-color: #23238E;
}
