[default]
secret=changeme
identifier=server1
server=auth.server1.acme.com
roles_attribute_id=1
vendor_code=27389
default_roles=analyst,manager
backup_server=auth.server2.acme.com
backup_server_secret=changeme2