.splunk-choice-input {
    padding-bottom: 0px !important;
}

.fieldset .input {
    width: auto !important;
}

#adv_input  {
    width: 300px !important;
}

#src_port_input {
    width: 60px !important;
}

#dest_port_input {
    width: 60px !important;
}

#protocol_input {
    width: 100px !important;
}


#src_input {
    width: 100px !important;
}

#dest_input {
    width: 100px !important;
}

#vm_input {
    width: 100px !important;
}


