# This file should be updated to your own monitored hosts and
# copied to hosts.yaml. This is only used when monitoring with the
# included Ruby scripted inputs.
Databases:
  db01:
    host: db01.company.com
    username: splunk
    password: password

  db02:
    host: db02.company.com
    username: splunk
    password: password
