.activation_key_submit_button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;   
}
.activation_key_cancel_button{
  background-color: #94a0ab; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;   
}
.activation_key_required_field_error {
    border: solid 2px #FF0000 !important;  
}
.activation_key_saving_form_message_div {
    text-align: center;  
}
.activation_key_saving_form_message_text {
    font-size: 20px;
    color: #3c444d;
    font-weight: bold;
}
.activation_key_saving_form_error_text {
    font-size: 20px;
    color: #FF0000;
    font-weight: bold;
}
.activation_key_form_label {
    font-weight: bold;
}