# This is an example pinger.conf.  Use this file to configure pinger monitors.

# The following configuration sets a default location for the monitors on this forwarder

[default]
location = My Office

# The following stanza configures basic monitoring for a web resource

[example_com]
label = My Website
host = www.example.com
resource = /

# The following stanza configures monitoring for a web resource requiring
# HTTP Basic Authentication.

[example_auth_website]
label = My Website Requiring Auth
host = www.example.com
resource = /members/
username = serviceUser
password = servicePass

# The following stanza checks a web resource on a nonstandard port (8080)

[example_nonstandard_port]
label = My Nonstandard Port Website
host = ns.example.com
port = 8080
resource = /

# The following stanza checks a web resource over HTTPS isntead of HTTP and monitors DNS lookup
# tiome.

[example_secure_webserver]
label = My HTTPS Webserver
host = secure.example.com
resource = /
ssl = true
lookupdns = true

# The following stanza configures a non-production, internal resource (such as a staging site) with timeout

[example_staging_resource]
label = My Staging Server
host = staging.web.int
resource = /
external = false
prod = false
timeout = 5
