2012/2/6	17:03:06	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Proxied	123.101.3.238	200	www.rainbow.org	328	132	12900	text/html	text/html	許可カテゴリ\許可カテゴリ	許可カテゴリ\許可カテゴリ	許可カテゴリ\許可カテゴリ	-	-	http://www.rainbow.org/	HTTP/1.1	GET	-
2012/2/6	17:03:26	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Confirm	124.83.171.240	0	www.yahoo.co.jp	548	156	0	text/html	-	データベースマッチ	ITサービス\動画配信	趣味と娯楽\映画・演劇	ITサービス\動画配信	-	http://www.yahoo.co.jp/movie	HTTP/1.1	GET	http://www.yahoo.co.jp/
2012/2/6	17:03:29	http	192.168.1.98	東京本社\営業部\1課	suzuki	Mozilla/5.0 (iPhone; U; CPU iPhone OS 4_3_3 like Mac OS X; en-us) AppleWebKit/533.17.9 (KHTML, like Gecko) Version/5.0.2 Mobile/8J2 Safari/6533.18.5	Blocked	124.40.14.230	0	www.netstar-inc.com	54	135	0	image/jpeg	-	ブラウザ規制	-	-	-	-	http://www.netstar-inc.com/photo.jpg	HTTP/1.1	GET	-
2012/2/6	17:03:46	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Blocked	124.40.14.230	0	www.netstar-inc.com	137	135	0	image/jpeg	-	セキュリティ	セキュリティ\ネットワークセキュリティ	-	-	セキュリティ\ネットワークセキュリティ	http://www.netstar-inc.com/virus.jpg	HTTP/1.1	GET	http://www.netstar-inc.com/
2012/2/6	17:03:56	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Blocked	214.38.152.56	0	www.google.co.jp	872	138	0	text/html	-	データベースマッチ	広告\広告・バナー	広告\広告・バナー	-	-	http://www.google.co.jp/csi?v=3&s=webhp	HTTP/1.1	PUT	-
2012/2/6	17:03:59	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Proxied	124.83.171.240	200	www.yahoo.co.jp	287	132	32903	text/html	text/html	許可カテゴリ\閲覧のみ許可	許可カテゴリ\閲覧のみ許可	許可カテゴリ\閲覧のみ許可	-	-	http://www.yahoo.co.jp/	HTTP/1.1	GET	-
2012/2/6	17:04:09	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Proxied	124.83.171.240	200	www.yahoo.co.jp	675	128	57689	text/html	text/html	優先カテゴリ	生活と暮らし\自動車・オートバイ,コミュニケーション\SNS・ミニブログ	生活と暮らし\自動車・オートバイ	コミュニケーション\SNS・ミニブログ	-	http://www.yahoo.co.jp/motorsns	HTTP/1.1	GET	http://www.yahoo.co.jp/
2012/2/6	17:04:13	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Blocked	123.10.3.238	0	www.secret.cc	129	135	0	text/html	text/html	未分類URL	-	-	-	-	http://www.secret.cc/	HTTP/1.1	GET	-
2012/2/6	17:04:23	http	192.168.1.200	東京本社\営業部\1課	suzuki	Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; .NET CLR 2.0.50727)	Allowed	124.40.14.230	200	www.netstar-inc.com	31	145	1215	text/html	text/html	データベースマッチ	ITサービス\IT	ITサービス\IT	-	-	http://www.netstar-inc.com/	HTTP/1.1	GET	http://www.netstar-inc.com/profile
2012/2/6	17:11:07	http	192.168.2.232	東京本社\営業部\2課	tanaka	Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.52.7 (KHTML, like Gecko) Version/5.1.2 Safari/534.52.7	Release	124.83.171.240	200	www.yahoo.co.jp	457	156	89045	text/html	text/html	データベースマッチ	ITサービス\動画配信	趣味と娯楽\映画・演劇	ITサービス\動画配信	-	http://www.yahoo.co.jp/movie	HTTP/1.1	GET	http://www.yahoo.co.jp/
2012/2/6	17:11:17	http	192.168.2.232	東京本社\営業部\2課	tanaka	Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.52.7 (KHTML, like Gecko) Version/5.1.2 Safari/534.52.7	CfmPost	124.83.171.240	0	www.yahoo.co.jp	98	142	0	text/html	-	データベースマッチ	ビジネス・経済\転職・就職	ビジネス・経済\転職・就職	-	-	http://www.yahoo.co.jp/recruit	HTTP/1.1	GET	http://www.yahoo.co.jp/
2012/2/6	17:11:19	http	192.168.2.232	東京本社\営業部\2課	tanaka	Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.52.7 (KHTML, like Gecko) Version/5.1.2 Safari/534.52.7	BlkPost	124.83.171.240	0	www.yahoo.co.jp	239	139	0	text/html	-	データベースマッチ	コミュニケーション\掲示板・チャット	生活と暮らし\イベント	コミュニケーション\掲示板・チャット	-	http://www.yahoo.co.jp/events/christmas2011	HTTP/1.1	GET	http://www.yahoo.co.jp/
