#  Version 1.2.0
#
# This is an example settings.conf.  Use this file to configure
# Splunk App for Akamai real-time monitor settings.
#
# To use one or more of these configurations, copy the configuration block
# into settings.conf in $SPLUNK_HOME/etc/apps/splunk_app_akamai/local/.
# You must restart Splunk to enable configurations.
#
# To learn more about configuration files (including precedence) please see
# the documentation located at
# http://docs.splunk.com/Documentation/Splunk/latest/Admin/Aboutconfigurationfiles

[realtime]

# The real-time monitor has 120 seconds delay with real time
REAL_TIME_DELAY = 120

# The real-time monitor use a 30 seconds window to display data
REAL_TIME_WINDOW = 30

# An event will influence the heat map during 5 seconds
HEAT_MAP_EVENT_TTL = 5

# EVENT_MAX_COUNT = HEAT_MAP_EVENT_TTL * HITS_PER_SECOND
# An event containing 200 hits or more will be displayed in red on the heat map.
EVENT_MAX_COUNT = 1000

# EVENT_MAX_TRAFFIC = HEAT_MAP_EVENT_TTL * TRAFFIC_PER_SECOND
# An event containing 20 MB of traffic or more will be displayed in red on the heat map
EVENT_MAX_TRAFFIC = 134217728

# Every 15 seconds events data will be fetched
EVENTS_FETCHING_PERIOD_IN_SECONDS = 15

# At most 50 000 events will be fetched for every call
MAX_EVENTS_FETCHED = 50000

# At most 300 events will be animated on the map (Live and Recent Traffic layers)
MAX_EVENTS_DISPLAYED = 300

# Every 60 seconds edge servers data will be fetched
EDGE_FETCHING_PERIOD_IN_SECONDS = 60

# At most 10 000 rows will be fetched for every call
MAX_EDGE_SERVERS = 10000

# At most the queue on the client side can contain 30 000 events
MAX_QUEUE_SIZE = 30000

# Color of dots representing requests event in hex rgb
REQUEST_FILL_COLOR = #03A2D6

# Color of edge circles representing edge servers data in hex rgb
EDGE_FILL_COLOR = #AC99D6

# Gradient used for heat map colors. With this setting, gradient goes from blue to red
HEATMAP_COLORS = ["#00f","#0ff","#0f0","#ff0","#f00"]

# Factor used to calculate edge server data representation according to number of requests.
# Following formula is used: Math.log10(value) * config.REQUEST_EDGE_CIRCLE_SIZE_FACTOR+ 2;
REQUEST_EDGE_CIRCLE_SIZE_FACTOR = 4

# Factor used to calculate edge server data representation according to amount of data.
# Following formula is used: Math.log10(trafficInMB) * config.TRAFFIC_EDGE_CIRCLE_SIZE_FACTOR + 2
TRAFFIC_EDGE_CIRCLE_SIZE_FACTOR = 6

# At most edge representation will be a circle with a radius of 60 pixels
MAX_EDGE_CIRCLE_SIZE = 60

# Biggest circle radius to represent error request data in pixels
MAX_ERROR_CIRCLE_SIZE = 20

# Fetching error request data period in seconds
ERROR_FETCHING_PERIOD_IN_SECONDS = 10

# Maximum number of rows retrieved for each error request call to fetch error request data
MAX_ERROR_REQUESTS = 10000

# Color of error circles representing error request data in hex rgb
ERROR_FILL_COLOR = #E64B3C

# Those parameters probably should not be modified

# Max resolution for which city level details will be used to display edge servers data
CITY_MAX_RESOLUTION = 3000

# Max resolution for which region level details will be used to display edge servers data
REGION_MAX_RESOLUTION = 10000

# Max resolution for which country level details will be used to display edge servers data
COUNTRY_MAX_RESOLUTION = 10000000000

# Default center view coordinates
DEFAULT_VIEW_CENTER = [0,0]
