
.appLogo {
    margin: 3px;
    height: 36px; 
    width:  36px;
    background-image: url(appIcon.png);
    background-repeat: no-repeat;
}
.fsOuter {
	margin-left:60px;
}
.fsAltRow {
	background-color:#33ccff;
}
.fsNumField {
	text-align:right;
}
.fsDateField {
	text-align:right;
}
h1 {color:black; font-weight:900;}
a {color:#0000ff;}
body
{
	font-size:16px;
	background-color:#b0c4de;
}
td
{
	padding: 8px;
	font-weight: bold;
}
tr
{
	background-color: #ffffff
}
th
{
	padding: 6px 20px;
	background-color:lt-green;
	font-size: 16px;
}
