certifi==2022.5.18.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
charset-normalizer==2.0.12; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
pysocks==1.7.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
solnlib==4.6.0; python_version >= "3.7" and python_version < "4.0"
sortedcontainers==2.4.0; python_version >= "3.7" and python_version < "4.0"
splunk-sdk==1.6.19; python_version >= "3.7" and python_version < "4.0"
splunktalib==3.0.0; python_version >= "3.7" and python_version < "4.0"
splunktaucclib==6.0.0; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.9; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
