{"Full Name": "User Four", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user4", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Three", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user3", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Two", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user2", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User One", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user1", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Zero", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user0", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Nine", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user9", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Eight", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user8", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Seven", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user7", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Six", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user6", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Five", "Login Time": "2017-02-09 18:44:45", "timestamp": "2017-02-09 18:44:45", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user5", "Login ID": "0", "Logout Time": "------------------"}
{"Full Name": "User Three", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user3", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Two", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user2", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User One", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user1", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Zero", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user0", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Nine", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user9", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Eight", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user8", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Seven", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user7", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Six", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user6", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Five", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user5", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Four", "Login Time": "2017-02-09 18:42:14", "timestamp": "2017-02-09 18:42:14", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user4", "Login ID": "0", "Logout Time": "2017-02-09 18:44:45"}
{"Full Name": "User Two", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user2", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User One", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user1", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Zero", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user0", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Nine", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user9", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Eight", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user8", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Seven", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user7", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Six", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user6", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Five", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user5", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Four", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user4", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User Three", "Login Time": "2017-02-09 18:39:40", "timestamp": "2017-02-09 18:39:40", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user3", "Login ID": "0", "Logout Time": "2017-02-09 18:42:14"}
{"Full Name": "User One", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user1", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Zero", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user0", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Nine", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user9", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Eight", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user8", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Seven", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user7", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Six", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user6", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Five", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user5", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Four", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user4", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Three", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user3", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
{"Full Name": "User Two", "Login Time": "2017-02-09 18:37:09", "timestamp": "2017-02-09 18:37:09", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:10 +0000", "IP": "XXX.XXX.XXX.XXX", "Logon Name": "user2", "Login ID": "0", "Logout Time": "2017-02-09 18:39:40"}
