{"Signature": "Windows Network File Access", "Logon Name": "Unknown", "Time": "2017-02-09 18:40:59", "Source IP": "XXX.XXX.XXX.XXX", "Sensor": "2", "Path": "\\rawopen\\torture_chained.txt", "Destination IP": "241.170.255.233", "EventID": "7510348", "ApplicationID": "smb", "FlowID": "16417158411856117764", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:04 +0000", "timestamp": "2017-02-09 18:40:59", "Source MAC address": "00:50:56:c0:00:01 (VMware Inc.)", "Action": "write"}
{"Signature": "Windows Network File Access", "Logon Name": "Unknown", "Time": "2017-02-09 18:40:59", "Source IP": "XXX.XXX.XXX.XXX", "Sensor": "2", "Path": "\\rawopen\\torture_chained.txt", "Destination IP": "241.170.255.233", "EventID": "7510347", "ApplicationID": "smb", "FlowID": "16417158411856117762", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:04 +0000", "timestamp": "2017-02-09 18:40:59", "Source MAC address": "00:50:56:c0:00:01 (VMware Inc.)", "Action": "write"}
{"Logon Name": "Unknown", "Time": "2017-02-09 18:38:58", "FlowID": "5439573993029894148", "Signature": "Windows Network File Access", "EventID": "25548740", "ApplicationID": "smb", "Sensor": "2", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:14 +0000", "Source IP": "197.157.89.7", "timestamp": "2017-02-09 18:38:58", "Source MAC address": "00:50:56:c0:00:01 (VMware Inc.)", "Path": "\\rawopen\\torture_chained.txt", "Destination IP": "197.157.89.135", "Action": "write"}
{"Logon Name": "Unknown", "Time": "2017-02-09 18:38:58", "FlowID": "5439573993029894146", "Signature": "Windows Network File Access", "EventID": "25548739", "ApplicationID": "smb", "Sensor": "2", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:14 +0000", "Source IP": "197.157.89.7", "timestamp": "2017-02-09 18:38:58", "Source MAC address": "00:50:56:c0:00:01 (VMware Inc.)", "Path": "\\rawopen\\torture_chained.txt", "Destination IP": "197.157.89.135", "Action": "write"}
{"Signature": "Windows Network File Access", "Logon Name": "Unknown", "Time": "2017-02-09 18:37:32", "Source IP": "XXX.XXX.XXX.XXX", "Sensor": "2", "Path": "\\rawopen\\torture_chained.txt", "Destination IP": "69.253.114.215", "EventID": "7509766", "ApplicationID": "smb", "FlowID": "1783442752566984708", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:04 +0000", "timestamp": "2017-02-09 18:37:32", "Source MAC address": "00:50:56:c0:00:01 (VMware Inc.)", "Action": "write"}
{"Signature": "Windows Network File Access", "Logon Name": "Unknown", "Time": "2017-02-09 18:37:32", "Source IP": "XXX.XXX.XXX.XXX", "Sensor": "2", "Path": "\\rawopen\\torture_chained.txt", "Destination IP": "69.253.114.215", "EventID": "7509765", "ApplicationID": "smb", "FlowID": "1783442752566984706", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:04 +0000", "timestamp": "2017-02-09 18:37:32", "Source MAC address": "00:50:56:c0:00:01 (VMware Inc.)", "Action": "write"}
