{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:40:50", "Has misdescribed Hyperlinks": "1", "FlowID": "10955689289731538945", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "EventID": "25549067", "Destination IP": "95.11.190.245", "Hyperlink description": "https://BenignDescription.com ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:40:50", "Has attachment": "0", "Signature": "Email Traffic with Hyper Link", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "http://DeadlyMalwareSite.com", "Attachment Name": "None", "Subject": "SMTP HTML Test Email", "From": "morgan@localhost.localdomain"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:40:50", "Has misdescribed Hyperlinks": "0", "FlowID": "10955689289731538945", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "EventID": "25549066", "Destination IP": "95.11.190.245", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:40:50", "Has attachment": "0", "Signature": "Email Traffic", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "NoLink", "Attachment Name": "None", "Subject": "SMTP HTML Test Email", "From": "morgan@localhost.localdomain"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:40:38", "Has misdescribed Hyperlinks": "0", "FlowID": "290887384654938113", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:0c:29:70:39:20 (VMware Inc.)", "EventID": "25549065", "Destination IP": "165.191.218.224", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:40:38", "Has attachment": "0", "Signature": "Email Traffic", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "NoLink", "Attachment Name": "None", "Subject": "LANGuardian Status Report from cm.acme.com", "From": "alerts@netfort.com"}
{"timestamp": "2017-02-09 18:39:55", "Hyperlink description": "https://BenignDescription.com ", "Logon Name": "Unknown", "ApplicationID": "email", "FlowID": "10506588826154041345", "Time": "2017-02-09 18:39:55", "To": "morgan.doyle@netfort.com", "Has attachment": "0", "From": "morgan@localhost.localdomain", "Signature": "Email Traffic with Hyper Link", "Description": "None", "Source IP": "XXX.XXX.XXX.XXX", "Mime Type": "None", "Sensor": "2", "EventID": "7510093", "Destination IP": "123.191.140.101", "Attachment Size": "0", "Hyperlink": "http://DeadlyMalwareSite.com", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:00 +0000", "Subject": "SMTP HTML Test Email", "Attachment Name": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "Has misdescribed Hyperlinks": "1"}
{"timestamp": "2017-02-09 18:39:55", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "ApplicationID": "email", "FlowID": "10506588826154041345", "Time": "2017-02-09 18:39:55", "To": "morgan.doyle@netfort.com", "Has attachment": "0", "From": "morgan@localhost.localdomain", "Signature": "Email Traffic", "Description": "None", "Source IP": "XXX.XXX.XXX.XXX", "Mime Type": "None", "Sensor": "2", "EventID": "7510092", "Destination IP": "123.191.140.101", "Attachment Size": "0", "Hyperlink": "NoLink", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:00 +0000", "Subject": "SMTP HTML Test Email", "Attachment Name": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "Has misdescribed Hyperlinks": "0"}
{"timestamp": "2017-02-09 18:39:41", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "ApplicationID": "email", "FlowID": "6399010210249179137", "Time": "2017-02-09 18:39:41", "To": "morgan.doyle@netfort.com", "Has attachment": "0", "From": "alerts@netfort.com", "Signature": "Email Traffic", "Description": "None", "Source IP": "XXX.XXX.XXX.XXX", "Mime Type": "None", "Sensor": "2", "EventID": "7510091", "Destination IP": "157.226.199.232", "Attachment Size": "0", "Hyperlink": "NoLink", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:00 +0000", "Subject": "LANGuardian Status Report from cm.acme.com", "Attachment Name": "None", "Source MAC address": "00:0c:29:70:39:20 (VMware Inc.)", "Has misdescribed Hyperlinks": "0"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:38:15", "Has misdescribed Hyperlinks": "1", "FlowID": "7960053624879448065", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "EventID": "25548485", "Destination IP": "207.39.232.26", "Hyperlink description": "https://BenignDescription.com ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:38:15", "Has attachment": "0", "Signature": "Email Traffic with Hyper Link", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "http://DeadlyMalwareSite.com", "Attachment Name": "None", "Subject": "SMTP HTML Test Email", "From": "morgan@localhost.localdomain"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:38:15", "Has misdescribed Hyperlinks": "0", "FlowID": "7960053624879448065", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "EventID": "25548484", "Destination IP": "207.39.232.26", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:38:15", "Has attachment": "0", "Signature": "Email Traffic", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "NoLink", "Attachment Name": "None", "Subject": "SMTP HTML Test Email", "From": "morgan@localhost.localdomain"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:38:04", "Has misdescribed Hyperlinks": "0", "FlowID": "14372627251655081985", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:0c:29:70:39:20 (VMware Inc.)", "EventID": "25548483", "Destination IP": "149.225.221.123", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:38:04", "Has attachment": "0", "Signature": "Email Traffic", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "NoLink", "Attachment Name": "None", "Subject": "LANGuardian Status Report from cm.acme.com", "From": "alerts@netfort.com"}
{"timestamp": "2017-02-09 18:36:36", "Hyperlink description": "https://BenignDescription.com ", "Logon Name": "Unknown", "ApplicationID": "email", "FlowID": "11725442201923092481", "Time": "2017-02-09 18:36:36", "To": "morgan.doyle@netfort.com", "Has attachment": "0", "From": "morgan@localhost.localdomain", "Signature": "Email Traffic with Hyper Link", "Description": "None", "Source IP": "XXX.XXX.XXX.XXX", "Mime Type": "None", "Sensor": "2", "EventID": "7509511", "Destination IP": "79.215.29.187", "Attachment Size": "0", "Hyperlink": "http://DeadlyMalwareSite.com", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:00 +0000", "Subject": "SMTP HTML Test Email", "Attachment Name": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "Has misdescribed Hyperlinks": "1"}
{"timestamp": "2017-02-09 18:36:36", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "ApplicationID": "email", "FlowID": "11725442201923092481", "Time": "2017-02-09 18:36:36", "To": "morgan.doyle@netfort.com", "Has attachment": "0", "From": "morgan@localhost.localdomain", "Signature": "Email Traffic", "Description": "None", "Source IP": "XXX.XXX.XXX.XXX", "Mime Type": "None", "Sensor": "2", "EventID": "7509510", "Destination IP": "79.215.29.187", "Attachment Size": "0", "Hyperlink": "NoLink", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:00 +0000", "Subject": "SMTP HTML Test Email", "Attachment Name": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "Has misdescribed Hyperlinks": "0"}
{"timestamp": "2017-02-09 18:36:22", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "ApplicationID": "email", "FlowID": "1349069813451849729", "Time": "2017-02-09 18:36:22", "To": "morgan.doyle@netfort.com", "Has attachment": "0", "From": "alerts@netfort.com", "Signature": "Email Traffic", "Description": "None", "Source IP": "XXX.XXX.XXX.XXX", "Mime Type": "None", "Sensor": "2", "EventID": "7509509", "Destination IP": "213.201.186.203", "Attachment Size": "0", "Hyperlink": "NoLink", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:00 +0000", "Subject": "LANGuardian Status Report from cm.acme.com", "Attachment Name": "None", "Source MAC address": "00:0c:29:70:39:20 (VMware Inc.)", "Has misdescribed Hyperlinks": "0"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:35:39", "Has misdescribed Hyperlinks": "1", "FlowID": "16962488785931599873", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "EventID": "25547903", "Destination IP": "90.91.152.137", "Hyperlink description": "https://BenignDescription.com ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:35:39", "Has attachment": "0", "Signature": "Email Traffic with Hyper Link", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "http://DeadlyMalwareSite.com", "Attachment Name": "None", "Subject": "SMTP HTML Test Email", "From": "morgan@localhost.localdomain"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:35:39", "Has misdescribed Hyperlinks": "0", "FlowID": "16962488785931599873", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:1d:09:0a:59:59 (Dell Inc.)", "EventID": "25547902", "Destination IP": "90.91.152.137", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:35:39", "Has attachment": "0", "Signature": "Email Traffic", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "NoLink", "Attachment Name": "None", "Subject": "SMTP HTML Test Email", "From": "morgan@localhost.localdomain"}
{"Attachment Size": "0", "Mime Type": "None", "Time": "2017-02-09 18:35:28", "Has misdescribed Hyperlinks": "0", "FlowID": "13143211159735762945", "To": "morgan.doyle@netfort.com", "Sensor": "2", "Description": "None", "Source MAC address": "00:0c:29:70:39:20 (VMware Inc.)", "EventID": "25547901", "Destination IP": "115.151.198.128", "Hyperlink description": "NoLinkDesc ", "Logon Name": "Unknown", "timestamp": "2017-02-09 18:35:28", "Has attachment": "0", "Signature": "Email Traffic", "ApplicationID": "email", "modular_input_consumption_time": "Thu, 09 Feb 2017 18:46:08 +0000", "Source IP": "XXX.XXX.XXX.XXX", "Hyperlink": "NoLink", "Attachment Name": "None", "Subject": "LANGuardian Status Report from cm.acme.com", "From": "alerts@netfort.com"}
