certifi==2025.8.3 ; python_full_version > "3.9.1" and python_version < "3.10"
cffi==2.0.0 ; python_full_version > "3.9.1" and python_version < "3.10" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.3 ; python_full_version > "3.9.1" and python_version < "3.10"
cryptography==46.0.7 ; python_full_version > "3.9.1" and python_version < "3.10"
defusedxml==0.7.1 ; python_full_version > "3.9.1" and python_version < "3.10"
deprecation==2.1.0 ; python_full_version > "3.9.1" and python_version < "3.10"
google-api-core==2.30.3 ; python_full_version > "3.9.1" and python_version < "3.10"
google-api-python-client==2.195.0 ; python_full_version > "3.9.1" and python_version < "3.10"
google-auth-httplib2==0.2.0 ; python_full_version > "3.9.1" and python_version < "3.10"
google-auth-oauthlib==1.2.2 ; python_full_version > "3.9.1" and python_version < "3.10"
google-auth==2.50.0 ; python_full_version > "3.9.1" and python_version < "3.10"
google-cloud-bigquery==3.41.0 ; python_full_version > "3.9.1" and python_version < "3.10"
google-cloud-core==2.4.3 ; python_full_version > "3.9.1" and python_version < "3.10"
google-crc32c==1.5.0 ; python_full_version > "3.9.1" and python_version < "3.10"
google-resumable-media==2.7.2 ; python_full_version > "3.9.1" and python_version < "3.10"
googleapis-common-protos==1.70.0 ; python_full_version > "3.9.1" and python_version < "3.10"
grpcio-status==1.62.3 ; python_full_version > "3.9.1" and python_version < "3.10"
grpcio==1.62.3 ; python_full_version > "3.9.1" and python_version < "3.10"
httplib2==0.22.0 ; python_full_version > "3.9.1" and python_version < "3.10"
idna==3.7 ; python_full_version > "3.9.1" and python_version < "3.10"
oauthlib==3.2.2 ; python_full_version > "3.9.1" and python_version < "3.10"
packaging==26.2 ; python_full_version > "3.9.1" and python_version < "3.10"
proto-plus==1.26.1 ; python_full_version > "3.9.1" and python_version < "3.10"
protobuf==6.33.6 ; python_full_version > "3.9.1" and python_version < "3.10"
pyasn1-modules==0.4.2 ; python_full_version > "3.9.1" and python_version < "3.10"
pyasn1==0.6.3 ; python_full_version > "3.9.1" and python_version < "3.10"
pycparser==2.21 ; python_full_version > "3.9.1" and python_version < "3.10" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pyparsing==3.1.4 ; python_full_version > "3.9.1" and python_version < "3.10"
pysocks==1.7.1 ; python_full_version > "3.9.1" and python_version < "3.10"
python-dateutil==2.9.0.post0 ; python_full_version > "3.9.1" and python_version < "3.10"
pytz==2023.3 ; python_full_version > "3.9.1" and python_version < "3.10"
requests-oauthlib==2.0.0 ; python_full_version > "3.9.1" and python_version < "3.10"
requests==2.32.5 ; python_full_version > "3.9.1" and python_version < "3.10"
six==1.16.0 ; python_full_version > "3.9.1" and python_version < "3.10"
solnlib==6.3.0 ; python_full_version > "3.9.1" and python_version < "3.10"
sortedcontainers==2.4.0 ; python_full_version > "3.9.1" and python_version < "3.10"
splunk-sdk==2.1.0 ; python_full_version > "3.9.1" and python_version < "3.10"
splunktaucclib==8.0.0 ; python_full_version > "3.9.1" and python_version < "3.10"
typing-extensions==4.15.0 ; python_full_version > "3.9.1" and python_version < "3.10"
uritemplate==4.1.1 ; python_full_version > "3.9.1" and python_version < "3.10"
urllib3==1.26.19 ; python_full_version > "3.9.1" and python_version < "3.10"
