.appLogo {
    height: 43px; 
    width: 156px;
    background-image: url(appLogo_splunk_snort.png);
    _background-image: url(appLogo_splunk_snort.gif); /* for IE6 */
    background-repeat: no-repeat;
}

.appHeaderWrapper h1 {
    color: #c8da4a;
    line-height: 43px;
    display:none;
}

.appHeaderWrapper {
    background-color: #003D57;
    background-image: none;
    border-bottom-style: solid;
    border-bottom-width: 0px;
}
