
/* Making all the labels right-aligned and of a fixed width
   so that if the user has a narrower browser window
   the wrapping ends up looking decent */
.viewHeader .Pulldown label,
.viewHeader .TextField label,
.viewHeader .CheckboxPulldown label,
.mainSearchControls .TextField label,
.mainSearchControls .Pulldown label,
.mainSearchControls .CheckboxPulldown label {
    display:block;
    float:left;
    min-width:42px;
    text-align:right;
    padding-left:0px;
    padding:4px 5px 0px 0px;
}


/** conjoining this Pulldown+TextField combination to look like a single
    unified control */
#TextField_0_2_0 {
    padding-left:0px;
    min-width:0px;
}
#TextField_0_2_0 label {
    padding-right:0px;
    min-width:0px;
}

#TextField_0_2_0 input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position:relative;
    left:-1px;
}
#Pulldown_0_1_1 select {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right:25px;
}
#Pulldown_0_1_1 {
    padding-right:0px;
}

/*
DELETE THIS ID selector when Canary 1.5.9 is really old
in 1.5.8 and earlier having only the attribute selector will cause some page-load flashing.
*/
#CheckboxPulldown_0 {
    display:none;
}


.viewHeader .Module,
.mainSearchControls .Module {
    padding-top:3px;
    padding-bottom:3px;
}

/**
 * new design stuff for 7.0
 */
.graphArea .Pulldown,
.resultsHeaderPanel .Pulldown,
.graphArea .Button {
    float:left;
    padding: 3px 20px 3px 0px;
}
.pageControls .moduleFloatedRight {
    float:right !important;
}
.graphArea {
    border-top-width:1px;
    border-top-style:solid;
    padding-top:6px;
}
.graphArea h2 {
    margin-bottom:0px;
    padding-bottom:12px;
}
.resultsArea {
    border-top-width:0px;
}
.resultsAreaLeft {
    padding-top:9px;
}

.resultsHeaderPanel  h2 {
    margin-bottom:0px;
}
/*
.resultsHeaderPanel {
    padding-bottom:3px;
}
.resultsHeaderPanel .Module {
    padding-top:3px;
}
*/
.mainSearchControls .Tabs {
    padding-top:0px;
}

/**
 * end new design stuff for 7.0
 */
