
.Fields {
    float:right;
    margin-left:5px;
}

.HTML h2 {
    margin:0px 0px 8px 0px;
    padding:0px;
}
.SearchControls {
    float:right;
}

p.cubeRowBgColorMessage {
    display: inline-block;
    padding: 3px 5px;
}

.flexItem .Link,
.flexItem .Link {
    float:right;
    margin-right:10px;
}

#viewerPageInstructions {
    display:none;
    clear:both;
}

.Table td.selectedHighlight {
    font-weight:bold;
}

.callManagerIdTextField input {
    width:30px;
}
.callIdTextField input {
    width:200px;
}
