
/**
 * health check styles.
 */
.checklistConfSeverity0 {
    color:#3a3;
    font-weight:bold;
}
.checklistConfSeverity1 {
    color:#00a2cb;
    font-weight:bold;
}
.checklistConfSeverity2 {
    color:#e57d1a;
    font-weight:bold;
}
.checklistConfSeverity3 {
    color:#9e2917;
    font-weight:bold;
}