
p, ol {
  max-width:1500px;
}
.splTable input{
  width:90%;
}
div.addNewRow {
  clear:both;
  padding-top: 10px;
}
div.addNewRow label {
  display:block;
  float:left;
  min-width:125px;
  padding:0px 10px 0px 0px;
}
div.mainSearchControls {
  border-bottom-width:0px !important;
  padding-bottom:0px !important;
}
div.mainSearchControls .Pulldown,
div.panel_row1_col .Pulldown,
div.panel_row1_col .TextField {
  float:left;
  padding-left:10px;
  padding-right:10px;
}
div.panel_row1_col .TimeRangePicker {
  float:left;

}
div.mainSearchControls .Tabs {
  clear:both;
}
div.panel_row1_col .dashboardCell {
  padding-top:0px;
  margin-top:0px;
  border-radius:0px 5px 5px 5px;
  border-top-width:0px;
  box-shadow:none;
}
.Tabs {
    margin-bottom:0px;
}
div.row1col1 {
    margin-top:0px;

}
div.flexItem.row1col1 {
  background:#fff;
}
.Pager {
  clear:left;
}

h2 {
    font-size:14px;
}

button.update {
  margin-right: 5px;
}

/**
 * float override for the dowmload-csv buttons
 */
.SearchControls .export {
    float:left;
}