.SingleValueHolder {
background-color: #fff;
}

.SingleValue .red .singleResult {
    color: rgb(255, 31, 36);
}

.SingleValue .purple .singleResult {
    color: rgb(136, 0, 136);
}

.SingleValue .green .singleResult {
    color: rgb(0, 185, 50);
}

.SingleValue .grey .singleResult {
    color: rgb(128, 128, 128);
}

.SingleValue .orange .singleResult {
    color: rgb(255, 200, 25);
}

.SingleValue .singleResult {
    font-size: 28px;
    vertical-align: -4px;
    margin: 0px 6px;
}

.singleLabel {
    color: rgb(153, 153, 153);
}

