Sep 11 02:01:29 olfeo.domain.com olfeo[filtering]: <CORE_APPLICATION> Application Started
Sep 11 02:01:28 olfeo.domain.com olfeo[filtering]: <RESPERSISTENCE><08680000> Can't open database 'No such file or directory'
Sep 11 02:01:27 olfeo.domain.com olfeo[filtering]: <SYSLOG> Syslog client started
Sep 11 02:01:14 olfeo.domain.com olfeo[filtering]: <AV_CLAMAV><0870000> can't connect to clamd server (/var/run/clamav/clamd.ctl) (/var/run/clamav/clamd.ctl) No such file or directory
