Aug 30 10:19:47 olfeo.domain.com olfeo[logd]: 1.2.3.4 - user1 [30/08/2017 08:19:44] "CONNECT https://www.domain.com:443 HTTP/1.1" 200 - - 1000 Business Services
Aug 30 10:19:48 olfeo.domain.com olfeo[logd]: 1.2.3.4 - user1 [30/08/2017 08:19:49] "- http://www.domain.com/ HTTP/1.1" 200 - - 1226 Website Analytics
Aug 30 10:19:49 olfeo.domain.com olfeo[logd]: 1.2.3.5 - user2 [30/08/2017 08:19:48] "POST http://www.domain.com/ HTTP/1.1" 200 - - 1226 Website Analytics
Aug 30 10:19:53 olfeo.domain.com olfeo[logd]: 1.2.3.5 - user2 [30/08/2017 08:19:52] "CONNECT https://www.domain.com:443 HTTP/1.1" 200 - - 52 Online Shopping
Aug 30 10:19:54 olfeo.domain.com olfeo[logd]: 1.2.3.6 - user3 [30/08/2017 08:19:53] "CONNECT https://www.domain.com:443 HTTP/1.1" 200 - - 52 Online Shopping
Aug 30 10:20:00 olfeo.domain.com olfeo[logd]: 1.2.3.6 - user3 [30/08/2017 08:20:00] "POST http://www.domain.com/ HTTP/1.1" 403 - - 1226 Website Analytics
Aug 30 10:20:00 olfeo.domain.com olfeo[logd]: 1.2.3.7 - user4 [30/08/2017 08:20:01] "- http://www.domain.com/ HTTP/1.1" 200 - - 1226 Website Analytics
Aug 30 10:20:12 olfeo.domain.com olfeo[logd]: 1.2.3.7 - user4 [30/08/2017 08:19:27] "CONNECT https://www.domain.com:443 HTTP/1.1" 200 - - 18 Advertising
Aug 30 10:20:14 olfeo.domain.com olfeo[logd]: 1.2.3.8 - user5 [30/08/2017 08:20:12] "POST http://www.domain.com/ HTTP/1.1" 200 - - 1226 Website Analytics
Aug 30 10:20:18 olfeo.domain.com olfeo[logd]: 1.2.3.8 - user5 [30/08/2017 08:20:05] "CONNECT https://www.domain.com:443 HTTP/1.1" 200 - - 1000 Business Services