Sep 11 13:15:50 olfeo.domain.com olfeo[logc]: <KEEPALIVED> Degraded cluster notification
Sep 11 13:15:50 olfeo.domain.com olfeo[logc]: <SYSLOG> Syslog client started
Sep 11 02:01:01 olfeo.domain.com olfeo[logc]: <ClamAV> Antivirus stopped