splunktaucclib>=8.0.0
splunk-sdk>=1.7.3
requests
solnlib>=6.1.0
packaging==23.0

# 
#   The following list *may* also be required for your modular inputs to work.   
#   Uncomment those that are required.   
# 
#HTMLParser
#pybase64
#json
#requests
#urllib
#urlparse
#datetime
#html
#oauth_helper
#urllib
