[Unit]
Description=Rotating tcpdump capture
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/sbin/tcpdump -i any -pnns0 -tttt port 53 and not host 127.0.0.1
StandardOutput=file:/var/log/tcpdump.log
SyslogIdentifier=tcpdump

[Install]
WantedBy=multi-user.target
