certifi==2023.7.22 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==2.0.7 ; python_version >= "3.7" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "4.0"
httplib2==0.20.1 ; python_version >= "3.7" and python_version < "4.0"
idna==3.3 ; python_version >= "3.7" and python_version < "4.0"
pyparsing==2.4.7 ; python_version >= "3.7" and python_version < "4.0"
requests==2.32.4 ; python_version >= "3.7" and python_version < "4.0"
solnlib==4.11.0 ; python_version >= "3.7" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "4.0"
splunk-sdk==2.1.0 ; python_version >= "3.7" and python_version < "4.0"
splunktalib==3.0.4 ; python_version >= "3.7" and python_version < "4.0"
splunktaucclib==6.0.6 ; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.7 ; python_version >= "3.7" and python_version < "4"
