certifi==2025.8.3 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
cffi==2.0.0 ; python_full_version > "3.9.1" and (python_full_version < "3.10.0" or python_version >= "3.13") and python_full_version < "3.14.0" and platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
charset-normalizer==3.4.2 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
cryptography==46.0.6 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
defusedxml==0.7.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
deprecation==2.1.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
idna==3.10 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
packaging==25.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
pycparser==2.23 ; python_full_version > "3.9.1" and (python_full_version < "3.10.0" or python_version >= "3.13") and python_full_version < "3.14.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pysocks==1.7.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
python-dateutil==2.9.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
requests==2.32.4 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
six==1.16.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
solnlib==7.0.0 ; python_full_version > "3.9.1" and python_version < "3.10" or python_version == "3.13"
sortedcontainers==2.4.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
splunk-sdk==2.1.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
splunksdc @ git+ssh://git@github.com/splunk/splunksdc.git@85144f4e5a94d572a6d8204cbd53af72b6c21208 ; python_full_version > "3.9.1" and python_version < "3.10" or python_version == "3.13"
splunktaucclib==8.0.0 ; python_full_version > "3.9.1" and python_version < "3.10" or python_version == "3.13"
typing-extensions==4.14.1 ; python_full_version > "3.9.1" and python_full_version < "3.10.0"
u-msgpack-python==2.8.0 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_full_version >= "3.13.0" and python_full_version < "3.14.0"
urllib3==1.26.19 ; python_full_version > "3.9.1" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
