.appHeaderWrapper {
	background: rgb(172,201,231);
}

.appHeaderWrapper a {
	color: rgb(255,255,255);
}

.appHeaderWrapper h1 {
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	color: rgb(49,97,146);
}

.splButton-primary, .splButton-secondary, .splButton-tertiary, .splButton-primary:hover, .splButton-primary:focus, .splButton-secondary:hover, .splButton-secondary:focus, .splButton-tertiary:hover, .splButton-tertiary:focus, table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper, table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper:hover, table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper:focus, table.mainSearchControlsTable input.searchButton {
	background-color: rgb(49,97,146);
	color: rgb(255,255,255);
	border: 1px solid rgb(172,201,231);
}

.SearchBar .assistantActivator {
	background-color: rgb(49,97,146);
	color: rgb(255,255,255);
	border: 0px;
}

.SearchBar .searchFieldWrapperInner {
	border-color: rgb(172,201,231);
}

.splHeader-dashboard h2, .dashboardContent .ServerSideInclude h2, .dashboardContent .GenericHeader h3, .SearchBar h4 {
	color: rgb(49,97,146);
}

table.mainSearchControlsTable .SearchBar .searchFieldWrapper {
	border-color: rgb(172,201,231);
}

.AccountBar ul.accountBarItems li.accountDivider {
	color: rgb(255,255,255);
}

.AppBar .auxLinks span {
	color: rgb(255,255,255);
}

.appLogo {
	background: url("appIcon.png") no-repeat scroll 8px 8px transparent;
	width: 50px;
}

h1 {
	font-weight: bold;
	color: rgb(49,97,146);
}

.splEvent-fatal .t {
        color: red !important;
}

.splEvent-error .t {
        color: orange !important;
}
