


body {
 	background: #eee;
    color: #333;
    margin: 0;
    padding: 0;

}

a, a:visited {
	/*color:blue;*/
}

a:active, a:focus {
	outline: none;
}

p { 
	line-height: 1.2em;
	font-size: 12px;
}

.info {
    font-size:11px;   
}

.SplunkModule {
padding: 0px;
}

.resultsArea {
background-color: #eee;
border-bottom-width: 0;
border-bottom: 0;
}


.appHeaderWrapper {
    background-color: #2b5d92;
    background-image: url(top.png);
	 background-repeat: no-repeat;
	 background-position: left;
}

.appHeaderWrapper .splHeader {
    height: auto;
    line-height: normal;
}


.appLogo {
height: 43px; 
width: 412px;
padding-right: 0;
float: left;
background: transparent;
background-image: url(appLogo.png);
background-repeat: no-repeat;
}

.appHeaderWrapper h1 {
display: none;
} 

.splMenu-secondary ul {
    background-color: #23587c;
    border-color: #444;
	

}


h1 {
		font-size: 21px;
	letter-spacing: 0.5px;
	font-weight: normal;
}

h2, .appTabs {
	font-size: 18px;
	letter-spacing: -0.5px;
	font-weight: normal;
}

h3 {
	font-size: 16px;
	letter-spacing: -0.5px;
	font-weight: bold;
}

p.intro {
    font-size:14px;
    line-height: 1.2em;
}


/* page structure */


#launcher-header {
	background-color: #000;
	#height: 70px;

}


#launcher-banner, #appTabs-wrapper, #launcher-wrapper {
	width: 760px;
	margin: auto;
}


.launcher-menu {
	float: left;
	width: 354px;
	padding-top: 16px;
	clear:left;
}


.details {
	float: left;
	width: 490px;
	margin-left: 16px;
	padding-top: 16px;
}
  
.noSplunkbase {
    height:542px;   
    padding-top: 40px
}
.noSplunkbase h3 {
    margin-top:0px;   
}

#launcher-wrapper {

}


/* buttons */


.splButton-primary, .splButton-secondary, .button a {
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background-image: url(overlay_glass.png);
	background-position: 0 0;
	_background-image: none;
	background-repeat: 0;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);

}

.enable a {
	background-color: #e49100;
}

.hiddenLaunchButton {
    display:none;   
}

/* tabs */



#appTabs-outer {
    background: #3b749b url(bg_tabs.png) bottom repeat-x;
    height: auto;
    clear: both;
}


#appTabs-wrapper {
    overflow: hidden;
    color: #fff;
}

#appTabs-wrapper h2 {
    margin: 0;
    padding: 0;
    color: #fff;
}

#appTabs-wrapper p {
    line-height: normal;
}


ul#appTabs {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0px;
	margin-top: 15px;
	padding: 0px;
	width: 100%;
    overflow: hidden;
}

ul#appTabs li {
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 5px 0 0;
}



ul#appTabs li a {
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 8px 16px;
	background-color: #23587c;
	color: #fff;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}


ul#appTabs li.current a {
	background-color: #eee;
	color: #000;

}



#tab_1 {
	display: none;
}
#tab_2 {
	display: none;
}
#tab_3 {
	display: none;
}

/* app menu */



.launcher-menu ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	margin-top: 7px;
	padding: 0;
}

.launcher-menu ul>li {
    display:table;
    position: static;
}
.launcher-menu ul li {
	color: #000;
    font-size: 14px;
    height: 50px;
    position: relative;
    width: 100%;
    *display:block;
}
.launcher-menu ul li a {
    display: block;
    position:absolute;
    top:50%;
}
.launcher-menu ul li>a {
    display: table-cell;
    vertical-align: middle;
    position: static;
    *display:block;
    *position:absolute;
}
.launcher-menu ul li a div {
    position: relative;
    *top:-50%;    
}
.launcher-menu ul li a div p {
    margin:0;
    font-size: 14px;
}

.launcher-menu ul li.selectedApp {
	color: #000;
	background: url(bg_select.png) 0 0 no-repeat;
}


.launcher-menu ul li.disabledApp a { 
	opacity: 0.4; 
	font-style: italic;
	*color: #666;
}

.launcher-menu ul li a {
	/*float: left;*/
	color: #000;
	text-decoration: none;
	/*height: 50px;
	line-height: 50px;*/
	background-position: 7px 7px;
	background-repeat: no-repeat;
	outline: none;
	/*width: 100%;*/
	padding-left:47px;
	padding-right:20px;
	width: 285px;
}

.launcher-menu ul li a:hover {
	color: #000;
}
/* app icon for IE */
.launcher-menu ul li a span {
    *display:block;
    *position: absolute;
    *height:36px;
    *width:36px;
    *left:7px;
    *top:-18px;
    *cursor:pointer;
}

/* app details */
   
.appdetails {
	display: none;   
}

.screenshot {
	height: 275px;
	width: 490px;
	background-image: url(screenshot_null.png);
}

.screenshotOverlay {
	height: 275px;
	width: 490px;
	background-image: url(overlay_screenshot.png);
	_background-image: none;
	_border: 1px solid #ccc;
	_width: 488px;
}


p.meta {
	color: #333;
}


p.meta span {
	padding-right: 10px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}

span.managerLink {
	padding-left: 10px;
	border-left: 1px solid #ccc;
	margin-left: 10px;
}

.enabledOptions {
    display:none;   
}

.enableHint {
    clear: both;
}

.enableHint p {
    font-size: 11px;
    padding-top: 15px;
}

/* pager */

.launcher-pages {
    width:352px;
    height:540px;
    position: relative;
}
.page {
    position:absolute;
    width:354px;
    height:540px;
    display:none;   
}
.page_0 {
    display:block;   
}

.pageNavigation {
	height: 26px;
	padding: 0 4px;
	border-bottom: 1px solid #ccc;
}

.pageCount {
	font-size: 12px;
	float: left;
	height: 21px;
	line-height: 21px;
}

.pageCount span {
	font-weight: bold;
}

/* dots n stuff */
.dots {
    float:right;   
}
.dot {
    height:21px;
    line-height: 21px;
    width:12px;
    font-size: 14px;
    color: #3b749b;
    float:left;  
}
.dot.on {
    color: #b1b1b1;  
}


.launcher-arrows {
    float:right; 
}

.arrowLeft, .arrowRight {
	background: url(arrows.gif);
	float: left;
	height: 19px;
	width: 19px;
	overflow: hidden;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #ccc;
	margin-left: 5px;
}

.arrowLeft {
	background-position: 2px -13px;
}

.arrowRight {
	background-position: 2px 2px;
}

.arrowLeft:hover {
	background-color: #3b749b;
	background-position: -13px -13px;
}

.arrowRight:hover {
	background-color: #3b749b;
	background-position: -13px 2px;
}

.launcher-arrows a {
	text-decoration: none;
	height: 19px;
	line-height: 19px;
	display: block;
}

/* loading message */
#loadingSB {
    font-size:18px;
    background: url(loading_splunkbase.gif) no-repeat 0 0;
    padding-left:40px;
    height: 32px;
    line-height: 32px;
    width: 215px;  
    margin:50px auto; 
}

/* welcome screen */
ul.launcherLinks {
    margin: 0;
}

ul.launcherLinks li {
    padding: 10px;
    border: 1px solid #fff;
    margin-top: 10px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}


ul.launcherLinks li:hover {
    background: #fff url(bg_gradient_100.png) repeat-x bottom left;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: #ccc 0 0 5px;
}

ul.launcherLinks li.disabledApp div {
    opacity: 0.4; 
	font-style: italic;
	*color: #666;
}
ul.launcherLinks a {
    font-size: 16px;
    /* display: block; */
}
ul.launcherLinks a.enableLink {
    font-size: 12px;
    position: absolute;
    top:10px;
    right:10px;
}
ul.launcherLinks div {
    padding: 0 0 0 46px;
    background-repeat: no-repeat;
    min-height: 36px;
}

ul.launcherLinks p {
    margin: 0;
    padding-top: 7px;
}

ul.launcherLinks li#datainputs div {
    background-image:url(icon_addData.png);
}

ul.launcherLinks li#gettingstarted div {
    background-image:url(gsIcon.png);
}

ul.launcherLinks li#manager div {
    background-image:url(managerIcon.png);
}

ul.launcherLinks li#search div {
    background-image:url(searchIcon.png);
}

.launcherfooter {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

/*****************AppsApplicationBox******************/
.appsApplicationBox {
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #DDD;
    font-size: 12px;
}

.appsApplicationBox .appIcon {
    float: left;
    margin-right: 20px;
}

.appDetail {
    float: left;
    width: 700px;
}


.appsApplicationBox a.splunkBaseAppTitle{
    margin-right: 10px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.appsApplicationBox .appMeta, .appsApplicationBox .author {
    font-size: 11px;
}

.appsApplicationBox .author {
    float: left;
    padding: 2px 5px 0px;
}

.appsApplicationBox .price {
    float: left;
    font-weight: bold;
    color: #73A550;
    font-size: 14px;
}

.appsApplicationBox .splunkBaseAppTitle {
    
}

.appsApplicationDesc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 130%;
}

.appsApplicationBox .appType {
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 5px;
}

.appsApplicationBox .stars {
    background-image: url(images/stars.png);
    background-position: 0px 50%;
    background-repeat: no-repeat;
    display: block;
    text-indent: -5000px;
    width: 65px;
    float: left;
    margin-right: 5px;
}

.appsApplicationBox .votes, .appsApplicationBox .downloads, .appsApplicationBox .updated {
    margin-right: 10px;
}

.appsApplicationBox table {
    margin-top: 10px;
    font-size: 11px;
}

.appsApplicationBox table th {
    padding-right: 15px;
    text-align: left;
}
.appsApplicationBox table td {
    font-size: 12px;
}
.appDetailsTable td, .appDetailsTable th {
    padding-right: 20px;
    text-align: left;
    vertical-align: top;
}

.appsApplicationBox .buttonDiv {
    margin-top: 10px;
}

.appsApplicationBox .buttonDiv .splButton-primary {
    margin-left: 0px;
    margin-right: 5px;
}

.lastApplicationBox {
    padding-bottom: 50px;
}
/*****************AppsApplicationBox******************/

.splEvent-securityriskallowed  { color:red; }

/* S Wilken changing color of the arrows on the top appbar*/

/* icons 
---------------------------------*/
.splIcon {
    background-image: url(splIcons.gif);
    background-color: #999;
}

/*-- sidebar collapse icon --*/
.splIcon-sidebar-open { background-position: 0px -60px; }
.splIcon-sidebar-open:hover { background-position: -20px -60px;}
.splIcon-sidebar-closed { background-position: 0px -80px; }

/*-- zoom in/out buttons --*/
.splIcon-zoom-in, .splIcon-zoom-out {
    -webkit-border-radius: 6px;
    border-radius: 5px;
}
html>/**/body .splIcon-zoom-in, html>/**/body .splIcon-zoom-out, x:-moz-any-link, x:default { /* do rounding for ff3, not ff2 */
    -moz-border-radius: 5px;
}
.splIcon-zoom-in { background-position: 0px -40px; }
.splIcon-zoom-out { background-position: 0px -20px; }
.splIcon-zoom-in:hover { background-position: -20px -40px; }
.splIcon-zoom-out:hover { background-position:  -20px; }

/*-- linear and log scale buttons --*/
.splIcon-logscale, .splIcon-linscale {
    background-image: url(splIcons.gif);
    border:1px solid transparent;
    _border:1px solid #FFF;   
}
.splIcon-logscale { background-position: 0px -280px; }
.splIcon-linscale { background-position: 0px -300px; }
.splIcon-logscale:hover { background-position: -20px -280px; }
.splIcon-linscale:hover { background-position: -20px -300px; }

/*-- clear buttons --*/
.splIcon-clear {
    -webkit-border-radius: 6px;
    border-radius: 5px;
    background-position: 0px 0px;   
}
html>/**/body .splIcon-clear, x:-moz-any-link, x:default { /* do rounding for ff3, not ff2 */
    -moz-border-radius: 5px;
}
.splIcon-clear:hover { background-position: -20px 0px; }

/*-- close icons --*/
.splIcon-close { background-position: 0px 0px; }
.splIcon-close:hover { background-position: -20px 0px; }

/*-- arrow icons --*/
.splIcon-arrow-n, .splIcon-arrow-e, .splIcon-arrow-s, .splIcon-arrow-w {
    -webkit-border-radius: 6px;
    border-radius: 5px;  
    background-color: #999;
}
html>/**/body .splIcon-arrow-n, html>/**/body .splIcon-arrow-s, html>/**/body .splIcon-arrow-e, 
html>/**/body .splIcon-arrow-w, x:-moz-any-link, x:default { /* do rounding for ff3, not ff2 */
    -moz-border-radius: 5px;
}
.splIcon-arrow-n { background-position: 0px -100px; }
.splIcon-arrow-e { background-position: 0px -140px; }
.splIcon-arrow-s { background-position: 0px -120px; }
.splIcon-arrow-w { background-position: 0px -160px; }
.splIcon-arrow-n:hover { background-position: -20px -100px; }
.splIcon-arrow-e:hover { background-position: -20px -140px; }
.splIcon-arrow-s:hover { background-position: -20px -120px; }
.splIcon-arrow-w:hover { background-position: -20px -160px; }

/*-- results view buttons --*/
.splIcon-events-list, .splIcon-events-table, .splIcon-results-table {
    background-image: url(splIcons.gif);
}
.splIcon-events-list { background-position: 0px -180px; }
.splIcon-events-table { background-position: 0px -200px; }
.splIcon-results-table { background-position: 0px -220px; }
.splIcon-events-list:hover { background-position: -20px -180px; }
.splIcon-events-table:hover { background-position: -20px -200px; }
.splIcon-results-table:hover { background-position: -20px -220px; }

/* triangles */
/* Note: to separate color from implementation, we're using a numbering system to differentiate colors.  
   1=grey,2=white,3=green,4=black,5=blue.  If the icon sprite changes, the number mapping to colors would be different */
.splIcon-triangle, 
.splIcon-triangle-1-n, .splIcon-triangle-1-s, .splIcon-triangle-1-e, .splIcon-triangle-1-w,
.splIcon-triangle-2-n, .splIcon-triangle-2-s, .splIcon-triangle-2-e, .splIcon-triangle-2-w,
.splIcon-triangle-3-n, .splIcon-triangle-3-s, .splIcon-triangle-3-e, .splIcon-triangle-3-w,
.splIcon-triangle-4-n, .splIcon-triangle-4-s, .splIcon-triangle-4-e, .splIcon-triangle-4-w,
.splIcon-triangle-5-n, .splIcon-triangle-5-s, .splIcon-triangle-5-e, .splIcon-triangle-5-w {
    background-color:transparent;   
}
.splIcon-triangle-large {
    background-color:transparent;  
}

/* grey */
.splIcon-triangle-1-n { background-position: -7px -386px; }
.splIcon-triangle-1-s { background-position: -7px -367px; }
.splIcon-triangle-1-e { background-position: -7px -407px; }
.splIcon-triangle-1-w { background-position: -7px -427px; }
/* white */
.splIcon-triangle-2-n { background-position: -27px -386px; }
.splIcon-triangle-2-s { background-position: -27px -367px; }
.splIcon-triangle-2-e { background-position: -27px -407px; }
.splIcon-triangle-2-w { background-position: -27px -427px; }
/* green */
.splIcon-triangle-3-n { background-position: -47px -386px; }
.splIcon-triangle-3-s { background-position: -47px -367px; }
.splIcon-triangle-3-e { background-position: -47px -407px; }
.splIcon-triangle-3-w { background-position: -47px -427px; }
/* black */
.splIcon-triangle-4-n { background-position: -67px -386px; }
.splIcon-triangle-4-s { background-position: -67px -367px; }
.splIcon-triangle-4-e { background-position: -67px -407px; }
.splIcon-triangle-4-w { background-position: -67px -427px; }
/* blue */
.splIcon-triangle-5-n { background-position: -87px -386px; }
.splIcon-triangle-5-s { background-position: -87px -367px; }
.splIcon-triangle-5-e { background-position: -87px -407px; }
.splIcon-triangle-5-w { background-position: -87px -427px; }

.appHeaderWrapper {
color:#ffffff;
}

.splMenu-secondary ul {
    background-color: #2b5d92;
    border-color: #333;
}

.splMenu-secondary li:hover {
    background-color: #507aa7;
}

.splMenu-primary li:hover {
    background: #4470a0;    
}


/* panel-specific font colors 
---------------------------------*/
.appHeaderWrapper {
    color: #CCC;
}
.appHeaderWrapper a {
    color: #ffffff;   
} 

.splHeader-dashboard h2, 
.dashboardContent .ServerSideInclude h2,
.dashboardContent .GenericHeader h3 {
    font-size:12px;
    color: #3b749b;
    font-weight:bold;
    background-color: transparent;
}

.splBarGraph {
    background: #edede7; 
}
.splBarGraphBar {
    background: #3b749b url(/static/img/skins/default/overlay_gradient_28.png) repeat-x; 
}
.splBarGraphValue {
    
} 

.graphLoading {
    padding-bottom: 5px;
}

.splMenu-primary ul {
background-color:#2b5d92;
}

