<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <property name="name">mad-log</property>
        <property name="pattern">%d{yyyy-MM-dd HH:mm:ss} %X{PID} %-5p %c{1}:%L - %m%n</property>
    </properties>
    <CustomLevels>
        <CustomLevel name="CHATTY" intLevel="450" />
    </CustomLevels>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${env:SPLUNK_HOME}/var/log/splunk/${name}.log"
                     filePattern="${env:SPLUNK_HOME}/var/log/splunk/${name}-%d{MM-dd-yy-HH-mm-ss}-%i.log">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info"> <!-- We log everything -->
            <!--<appender-ref ref="Console"/> &lt;!&ndash; To console &ndash;&gt;-->
            <appender-ref ref="RollingFile"/> <!-- And to a rotated file -->
        </root>
    </loggers>
</configuration>