/* How to use this file
VERSION: 2.0
Any values in application.css will override those from the default.css file. This file allows you to customize the look of your Splunk App. It does not let you change the overall layout. For the most part, use this to change background colors, buttons, navigation, menus, etc. You can change the color of the histogram bars, but the palette for other chart colors is not exposed to CSS yet.

A note on images:
Alpha channel PNG files are used for a variety of transparency effects (gradient, glass, shadows, etc.) These images will not work on IE6, so you should either provide an alternate image or override the image by using the "underscore" hack, i.e. _background-image:none. To ensure that IE6 does not render alpha channel PNG files, make sure that the override comes after the declaration that contains your PNG. Any image that starts with "overlay" is an alpha channel graphic. As well, the logo images that are PNG format are also alpha channel so you can use on whatever background you like. GIF formats are available and are set as transparent against black and white only.

A note on background positioning:
We use and image sprite (splIcons.gif) for most of the icons and arrows that appear in the UI. Background-position is used to set different colors. By default, this sprite has black, white, grey, green, and blue versions of arrows. If you want to change these colors, edit the local version of this file (inside this directory). Otherwise, you can choose a different color by adjusting the background position on the selected element.

*/


/* Basic Typography
---------------------------------*/

input, textarea, select {
    color: #000;
}

h1 {
    color: #810b19;
}
h2 {
    color: #810b19;  
}
h3 {
    color: #810B19;
}

h5 {
    font-size: 12px;
    font-weight: bold;
    color: #111;  
}

/* App header elements
---------------------------------*/

/* background-color and/or image of your app */
.appHeaderWrapper {
    color:#FFFFFF;
    background: #000 url(bg_app_header.png) repeat-x;
}

/* 
if the name of the app is in the logo,  set this to display: none;  
*/
.appHeaderWrapper h1 {
    display: none;
    color:#810b19 ;
}

.appHeaderWrapper a {
    color:#FFFFFF;
}

/* App menu-item arrow change from blue to white */
.appHeaderWrapper .splIcon-triangle-3-s {
    background-position: -27px -367px;
}

/* application header */
.appHeader {
    height: 40px;
}

.appLogo {
    height: 41px; 
    width: 634px;
    background-image:  url(EQALIS_Logo.png);
    _background-image: url(EQALIS_Logo.gif); /* for IE6 */
    background-repeat: no-repeat;
}

.JobStatus .output .complete h2 {
    background: url(icon_complete_eqalis_green.png) left no-repeat;
}

/* default background color */

body {
    background-color: #126480;
}

body.splTemplate-dashboard {
    background-color: #126480;
}

.TitleBar .splHeader, .splBackground-primary, .viewHeader, .mainSearchControls, .splSearchControls-inline, .reportBuilder, .reportFirstPanel {
    background-color:#126480;
    color:#000;
}

.TitleBar .actionsMenu {
    color:#FFFFFF;
}

/*.TitleBar .actionsMenu:hover {
    background: url(/static/img/skins/default/overlay_white_28.png) repeat-x 0 0;
    _background: url(/static/img/skins/default/backgrounds_ie.gif) repeat-x 0 -727px;
}*/

/* change the black drop-down arrow on action menu to be white */
.TitleBar .actionsMenu .splIcon-triangle-4-s {
    background-position: -27px -367px;
}

/* actions menu open state */
.TitleBar div.menuOpen {
    background-color: #126480;
}

.splHeader.splHeader-navigation {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #add1ff;
    background-image: url(bg_nav.png);
    background-repeat: repeat-x;

}

.splHeader {
    height:30px;
    line-height:30px;
}

.splHeader-popup, .splHeader-secondary {
    background: #e6e6df url(bg_nav.png) repeat-x;
}

.splMenu-primary {
    color: #FFFFFF;
}
.splMenu-primary .actionsMenu {
    color: #FFFFFF;
}
.splMenu-primary a, .splMenu-primary a:visited, .splMenu-primary a:hover {
    color: #000;
}
.splMenu-primary .actionsMenuDivider {
    color: #FFFFFF;
}

.splMenu-primary li:hover {
    background-color: #a5e3ff;
}

.splMenu-secondary li:hover {
    background-color: #a5e3ff;
}

.splMenu-secondary a:hover {
    color: #000000;
}

/* default header font color */
.splHeader-dashboard h2, .dashboardContent .ServerSideInclude h2, .dashboardContent .GenericHeader h3, .SearchBar .saRow h4  {
    color:#810b19 ;
}

.splHeader-primary h2 {
    color:#FFFFFF;
}

div.FlashTimeline h2 {
    color:#000000;
}

.LinkSwitcher ul li.selected a {
    color:#000000;
}


.splTemplate-builder .splView-charting .JobStatus .splHeader h2 {
    color:#FFFFFF;
}    

.reportFirstPanel {
    background-color:#CCCCCC;
}


.ShowHideHeader h2 {
    color:#810b19;
}

.splHeader-secondary h2 {
    color:#FFF;
}
.splHeader h2 a {
    color:#FFF;
}

.ResultsHeader h2 {
    color: #810B19;
}

.LinkSwitcher a {
    color: #FFFFFF;
}

/* secondary (i.e. sidebar) header background color + overlay */
.splHeader-secondary {
    background-color:#126480 ;
    _background-image: none;
}


/* specific overrides */ 

.fieldValuePopup table tr.fieldNameHeaderRow th {
    border-bottom:1px solid #ccc;
}

/* horixontal rules in the sidebar */ 
.splDivider, .SuggestedFieldViewer .splBorder-n {
border-color: #ccc;
}


/* search controls 
---------------------------------*/

/* search button color; background-position of 0 0 is black, -40px 0 is white */
input.searchButton {
    background-color:#810b19 ;
}

.SearchBar .assistantActivator {
background-color: #810b19 ;
}

.greyedOut {
    opacity:1.0;
}


/* buttons 
---------------------------------*/

.splButton-primary {
    background-color:#810b19 ;   
}
.splButton-primary:hover {
    background-color:#99CC33 ;   
}


/* modal overlay */
.splOverlay, .splOverlay-white {
    opacity:0.8;
    filter:alpha(opacity=80);
}


.TimeRangePicker .timeRangeActivatorWrapper:hover {
    background-color:#99CC33;
    border-color: #99CC33;
}

/*-- background color for icons --*/
span.sidebarControl .splIcon {
    background-color: #99CC33;
}

table.splTable tr:hover td {
    background-color:#a5e3ff;
}

.BreadCrumb {
    color:#FFFFFF;
}

/* triangles. keep this last to avoid getting background colors in the arrows! */
/* Note: to separate color from implementation, we're using a numbering system to differentiate colors.  
   1=grey,2=white,3=green,4=black,5=blue.  If the icon sprite changes, the number mapping to colors would be different */
.splIcon-triangle, 
.splIcon-triangle-1-n, .splIcon-triangle-1-s, .splIcon-triangle-1-e, .splIcon-triangle-1-w,
.splIcon-triangle-2-n, .splIcon-triangle-2-s, .splIcon-triangle-2-e, .splIcon-triangle-2-w,
.splIcon-triangle-3-n, .splIcon-triangle-3-s, .splIcon-triangle-3-e, .splIcon-triangle-3-w,
.splIcon-triangle-4-n, .splIcon-triangle-4-s, .splIcon-triangle-4-e, .splIcon-triangle-4-w,
.splIcon-triangle-5-n, .splIcon-triangle-5-s, .splIcon-triangle-5-e, .splIcon-triangle-5-w {
    background-color:transparent;   
}

