<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*" />

<%def name="css()"> 
    <%coreCSSFiles = ['/static/css/view.css', '/static/css/skins/default/default.css',
					  '/modules/nav/AccountBar.css', '/static/css/print.css',
					  '/static/app/FileServ/application.css'] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<%def name="body_element_open()">
    <body>
</%def>

<div class="appHeaderWrapper">
    <div class="layoutRow oneColRow splClearfix appHeader">       
	  <div class="SplunkModule AccountBar">                        
		  <ul class="accountBarItems">     
			<li>
				<div class="appLogoContainer popupAppLogoContainer">
					<h1><a href="${make_url('/app/launcher/home')}">Home</a></h1>
				</div>
			</li>
			</ul>
		<div class="appLogoContainer popupAppLogoContainer">
		   <h1><a href="index"><img src="${make_url('/static/app/FileServ/appIcon.png')}"/>&nbsp;&nbsp;FileServ</a></h1>
		</div>
	  </div>
    </div>
</div>

<div class="fsOuter">
<p>
<h1>DOWNLOAD SECTION</h1>
<p>
<h2>${description|h}</h2>
</p>

<form method="get" url="download_folder">
    <input type="text" name="search" maxlength="80" size="80" value="${search|h}" >
    <input type="submit" name="sub1" value="Search" class="fsAltRow">
	<input type="hidden" name="dirkey" value="${dirkey|h}">

</form>

<p><p>
% if found_files:
	<table>
		<tr class="fsAltRow"><th><a href="${'download_folder?dirkey='}${dirkey|u}${'&sortindex=0'}">Filename</a></th>
			<th><a href="${'download_folder?dirkey='}${dirkey|u}${'&sortindex=1'}">Size</a></th>
			<th><a href="${'download_folder?dirkey='}${dirkey|u}${'&sortindex=2'}">Last Modification</a></th></tr>
	% for i,(fil,fsiz,fimid,fmod) in enumerate(cfiles):
		% if i%2 == 0:
		   <tr><td><a href="${'download?dirkey='}${dirkey|u}&filepath=${fil|u}">${fil|h}</a></td>
			   <td class="fsNumField">${fsiz|h}</td><td class="fsDateField">${fmod|h}</td></tr>
		% else:
		   <tr class="fsAltRow"><td><a href="${'download?dirkey='}${dirkey|u}&filepath=${fil|u}">${fil|h}</a></td>
			   <td class="fsNumField">${fsiz|h}</td><td class="fsDateField">${fmod|h}</td></tr>
		% endif
	% endfor
	</table>
% else:
	<h2>No files found in folder.</h2>
% endif


</div>

</body>
