<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*" />

<%def name="css()"> 
    <%coreCSSFiles = ['/static/css/view.css', '/static/css/skins/default/default.css',
					  '/modules/nav/AccountBar.css', '/static/css/print.css',
					  '/static/app/FileServ/application.css'] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<%def name="body_element_open()">
    <body>
</%def>

<div class="appHeaderWrapper">
    <div class="layoutRow oneColRow splClearfix appHeader">       
	  <div class="SplunkModule AccountBar">                        
		  <ul class="accountBarItems">     
			<li>
				<div class="appLogoContainer popupAppLogoContainer">
					<h1><a href="${make_url('/app/launcher/home')}">Home</a></h1>
				</div>
			</li>
			</ul>
		<div class="appLogoContainer popupAppLogoContainer">
		   <h1><a href="index"><img src="${make_url('/static/app/FileServ/appIcon.png')}"/>&nbsp;&nbsp;FileServ</a></h1>
		</div>
	  </div>
    </div>
</div>


<div class="fsOuter">
<p>
<h1>ERROR</h1>
<p>

<!-- display messages -->
<p>${error|h}</p>

</div>

</body>
