#monitoring stanza for file monitoring

[monitor:///opt/splunk/etc/firewall*]
disabled = true
index = firewall
sourcetype = zyxel:syslog

#monitoring stanza for port monitoring
[udp://<port>]
disabled = true
connection_host=ip
index = firewall
sourcetype = zyxel:syslog

