<?xml version="1.0" encoding="UTF-8"?>

<map map_file="maps/world.swf" tl_long="-168.5" tl_lat="83.50" br_long="190" br_lat="-55"  zoom="399.8812%" zoom_x="-33.8%" zoom_y="-142.62%">
  <areas> 
      <area title="borders" mc_name="borders" color="#FFFFFF" balloon="false"></area>
  </areas>

  <movies>

  </movies>

</map>
