[monitor:///opt/cryptview/reports/splunk/assets/*.ndjson]
disabled = 1
index = cryptview
sourcetype = cryptview:cbom:asset
crcSalt = <SOURCE>

[monitor:///opt/cryptview/reports/splunk/summary/*.ndjson]
disabled = 1
index = cryptview
sourcetype = cryptview:cbom:summary
crcSalt = <SOURCE>

[monitor:///opt/cryptview/reports/splunk/events/*.ndjson]
disabled = 1
index = cryptview
sourcetype = cryptview:cbom:event
crcSalt = <SOURCE>

[monitor:///opt/cryptview/reports/splunk/cyclonedx/*.json]
disabled = 1
index = cryptview
sourcetype = cryptview:cbom:cyclonedx
crcSalt = <SOURCE>

[monitor:///opt/cryptview/reports/workspaces/default/audit.log]
disabled = 1
index = cryptview
sourcetype = cryptview:audit

[monitor:///opt/cryptview/reports/public_ephemeral/audit.log]
disabled = 1
index = cryptview
sourcetype = cryptview:audit
