# This file  contains entries for various standard file locations for monitoring syslog depending on OS platform. You may need to check actual file location where Centrify logs are getting collected and may need to add that location in new stanza if not present in this file. By default all the monitoring stanzas are disabled. To enable any monitoring stanza, change the disabled property of stanza from “disabled = 1” to “disabled = 0”.

# Red Hat, CentOS, Citrix XenServer, Oracle Enterprise Linux, Scientific Linux, Fedora, SUSE, openSUSE
[monitor:///var/log/messages]
sourcetype = syslog
disabled = 1

# Ubuntu, Debian, Linux Mint
[monitor:///var/log/syslog]
sourcetype = syslog
disabled = 1

