#I recommend using the crcSalt as below - XML files with only the start/end XMl tag will cause errors because they
#are too small to use the default crc checking

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32processes-memory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:process
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32processes-memory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:processissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32services.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:services
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32services.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:servicesissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32system.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:system
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32system.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:systemissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32systemrestore.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:systemrestore
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32systemrestore.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:systemrestoreissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32tasks.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:tasks
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32tasks.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:tasksissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32useraccounts.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:users
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32useraccounts.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:usersissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32volumes.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:volumes
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32volumes.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:volumesissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32scripting-persistence.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:scriptingpers
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32scripting-persistence.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:scriptingpersissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32apifiles.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:apifiles
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32apifiles.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:apifilesissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.cookiehistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:cookie
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.cookiehistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:cookieissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.formhistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:formhistory
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.formhistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:formhistoryissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.filedownloadhistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:filedownload
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.filedownloadhistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:filedownloadissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.urlhistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:urlhistory
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.urlhistory.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:urlhistoryissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32disks.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:disks
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32disks.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:disksissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32drivers-modulelist.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:driversmodule

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32drivers-modulelist.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:driversmoduleissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32drivers-signature.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:driverssig
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32drivers-signature.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:driverssigissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32eventlogs.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:eventlog
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32eventlogs.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:eventlogissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32hivelist.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:hivelist
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32hivelist.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:hivelistissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32kernel-hookdetection.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:kernelhooks
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32kernel-hookdetection.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:kernelhooksissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32network-arp.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:arp
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32network-arp.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:arpissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32network-dns.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:dns
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32network-dns.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:dnsissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32ports.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:ports
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32ports.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:portsissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32network-route.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:route
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32network-route.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:routeissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32prefetch.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:prefetch
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32prefetch.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:prefetchissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32rawfiles.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:rawfiles
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32rawfiles.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:rawfilesissue
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\mir.w32registryapi.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:registry
crcSalt = <source>

[monitor://C:\Documents and Settings\username\My Documents\Redline\audits\*\*\issues.mir.w32registryapi.*.xml]
disabled = false
host_segment = 6
index = main
sourcetype = ioc:registryissue
crcSalt = <source>
