
## Since the defaultGroup is set to the non-existent group "noforward" (meaning that there is no defaultGroup),
## the forwarder only forwards data that has been routed to explicit target groups in inputs.conf.
#[tcpout]
#indexAndForward = true
#defaultGroup    = noSuchOutputGroup

## Tell the Splunk server about your 3rd party target

## Raw TCP output
## For Load Balancing
## We don't want to send cooked data to this target
#[tcpout:cefroute]
#server                = 4.4.4.4:514,5.5.5.5:514
#blockOnCloning        = false
#dropEventsOnQueueFull = 5
#sendCookedData        = false

## Syslog output
## For UDP
#[syslog:cefroute]
#server                = 6.6.6.6:514
#priority              = NO_PRI
#maxEventSize          = 2048
#syslogSourceType      = sourcetype::stash
#type                  = udp