
## Enable action.cefout
## Set _ROUTING to group of your choosing
[CEF - Example Search]
alert.suppress          = 0
action.cefout2          = 0
action.cefout2.enabled  = 1
action.cefout2.spec     = {}
cron_schedule           = */1 * * * *
disabled                = True
dispatch.earliest_time  = rt
dispatch.latest_time    = rt
enableSched             = 1
search                  = index=_internal | eval _raw=if(isnotnull(strftime('_time',"%b %d %H:%M:%S")),strftime('_time',"%b %d %H:%M:%S"),strftime(time(),"%b %d %H:%M:%S"))." ".case(mvcount('host')>=1,mvindex('host',0),mvcount('host')>=1,mvindex('host',0),1=1,"unknown")." "."CEF:".if(isint("0"),"0",0)."|".case(mvcount('vendor')>=1 AND mvindex('vendor',0)!="unknown",mvindex('vendor',0),mvcount('sourcetype')>=1,mvindex('sourcetype',0),1=1,"unknown")."|".case(mvcount('product')>=1 AND mvindex('product',0)!="unknown",mvindex('product',0),mvcount('sourcetype')>=1,mvindex('sourcetype',0),1=1,"unknown")."|".if(mvcount('product_version')>=1,mvindex('product_version',0),"unknown")."|".if(mvcount('signature_id')>=1,mvindex('signature_id',0),"unknown")."|".case(mvcount('signature')>=1,mvindex('signature',0),mvcount('name')>=1,mvindex('name',0),1=1,"unknown")."|".`get_cef_severity(severity)`."|" | cefout routing=cefroute