{"timestamp": time_token, "dest_ip":"dest_ip_token","dest_port":[dest_port_token],"event_name":"netFlowData","exporter_ip":"192.168.1.100","netflow_version":10,"protoid":protoid_token,"seqnumber":seqnumber_token,"src_ip":"src_ip_token","src_port":[src_port_token], "op_code": "op_code_token", "query_name": "query_name_token", "reply_code_id":"reply_code_id_token", "response_name": "response_name_token", "response_ttl":"response_ttl_token"}
