.appLogo {
    height: 43px; 
    width: 155px;
    padding-right: 5px;
    float: left;
    background: url(appLogo.png) no-repeat 0 0;
    _background: url(appLogo.gif) no-repeat 0 0;
}

.appHeaderWrapper h1 {
    display: none;
} 

.soleraTimeRange td {
	border: 1px solid lightgray;
}
.soleraTimeRange input {
	border: medium none;
	margin-right: 0px;
	padding-right: 0px;
}

#inspectPopup .splButton-secondary {
	margin-left: 0px !important;
}
