[loggers]
keys=root,ipfix

[handlers]
keys=stream,files,debugfiles

[formatters]
keys=splunk

[formatter_splunk]
class=logging.Formatter
format=%(asctime)s %(levelname)s pid=%(process)d tid=%(threadName)s file=%(filename)s:%(funcName)s:%(lineno)d | %(message)s
datefmt=

[handler_stream]
class=StreamHandler
level=NOTSET
formatter=splunk
args=(sys.stderr,)

[handler_debugfiles]
class=handlers.RotatingFileHandler
level=NOTSET
formatter=splunk
args=(os.path.join(os.environ.get('SPLUNK_HOME'), r'var\log\splunk\ipfix.log'),'a',25000000,5)

[handler_files]
class=handlers.RotatingFileHandler
level=NOTSET
formatter=splunk
args=(os.path.join(os.environ.get('SPLUNK_HOME'), r'var\log\splunk\ipfix_data.log'),'a',25000000,5)


[logger_root]
level=WARNING
handlers=debugfiles

[logger_ipfix]
level=NOTSET
handlers=files
propagate=1
qualname=ipfix

