##### To add a file or directory input :##############
# ---- copy the stanza below to local /inputs.conf
#----  enter the File or directory path
#---- uncomment the lines
#----  Set disabled = false
#####################################################

#[monitor://<log apth>]
#sourcetype = symantec:smg:textmail
#disabled = true