[general]
sendemail = true

[thresholds]
# Equivalent of search consuming full cpu in 1 min (or 0.5GB in 20 seconds)
# assuming all machines are using the same amount.
# To make sure that there is no difference between mem consumption on indexers
# use max_idxs_vcpu_sec as well
total_vcpu_sec_th=60 * (number_of_indexers + search_head)
max_idxs_vcpu_sec_th=200

# Equivalent of search consuming 1Gb in 10 second (or 0.5GB in 20 seconds)
# assuming all machines are using the same amount.
# To make sure that there is no difference between mem consumption on indexers
# use max_idxs_mem_usage_th as well
total_mem_gib_sec_th=10 * (number_of_indexers + search_head)
max_idxs_mem_usage_th=2

# Equivalent of search consuming full cpu in 1 min only on SH
shs_vcpu_sec_th=60

# Equivalent of search consuming 1Gb in 10 second (or 0.5GB in 20 seconds) only on SH
shs_mem_gib_sec_th = 10

# Equivalent of search consuming full cpu in 1 min (or 0.5GB in 20 seconds)
# assuming all indexers are using the same amount.
# To make sure that there is no difference between mem consumption on indexers
# use max_idxs_vcpu_sec as well
idxs_vcpu_sec_th=60 * (number_of_indexers)
max_idxs_vcpu_sec_th=200

# Equivalent of search consuming 1Gb in 10 second (or 0.5GB in 20 seconds)
# assuming all indexers are using the same amount.
# To make sure that there is no difference between mem consumption on indexers
# use max_idxs_mem_usage_th as well
idxs_mem_gib_sec_th=10 * (number_of_indexers)
max_idxs_mem_usage_th=2

# The peak (highest) instantaneous cpu
# usage recorded for the search on the Search Head during its lifetime.
max_shs_vcpu_sec_th=200

# The peak (highest) instantaneous cpu
# usage recorded for the search on the Indexer during its lifetime.
max_idxs_vcpu_sec_th=200

# The peak (highest) instantaneous memory
# usage recorded for the search on the Search Head during its lifetime.
max_shs_mem_usage_th=2

# The peak (highest) instantaneous memory
# usage recorded for the search on the Indexer during its lifetime.
max_idxs_mem_usage_th=2
