"C:\Users\xxxxx\Downloads\aaaaa.exe    &quot;&quot;C:\Users\xxxxx\Downloads\aaaaa.exe&quot; &quot;"
"HKEY_USERS\S-0-1-23-000000000-1111111111-2222222222-3333\Software\MMMMMM\WWWWW\CurrentVersion\EEEEEE\UserAssist\{CCCCCCC-AAAA-4444-9999-9926XXXXXXXX}\Count\P:\HHHHH\ooooo\QQQQQQ\ccccc.rkr"
"HKEY_USERS\S-0-1-23-000000000-1111111111-2222222222-3333\Software\MMMMMM\WWWWW\CurrentVersion\EEEEEE\UserAssist\{CCCCCCC-AAAA-4444-9999-9926XXXXXXXX}\Count\HHHHHHHHHH"
"HKEY_USERS\S-0-1-23-000000000-1111111111-2222222222-3333\Software\MMMMMM\IIIII\PPPPPP\CCCCCC"
"C:\Users\bbbbb\Downloads\ppppp.exe    &quot;&quot;C:\Users\bbbbb\Downloads\pppp.exe&quot; &quot;"
""