{"timestamp": time_token, "dest_ip":"dest_ip_token","dest_port":[dest_port_token],"event_name":"netFlowData","exporter_ip":"192.168.1.100","netflow_version":10,"protoid":protoid_token,"seqnumber":seqnumber_token,"src_ip":"src_ip_token","src_port":[src_port_token],"status":0,"url":"url_token"}
{"timestamp": time_token, "dest_ip":"src_ip_token","dest_port":[dest_port_token],"event_name":"netFlowData","exporter_ip":"192.168.1.100","netflow_version":10,"protoid":protoid_token,"seqnumber":seqnumber_token,"src_ip":"dest_ip_token","src_port":[src_port_token],"status":status_token,"url":""}
