addax.doc
alpaca.docx
antelope.log
babirusa.msg
banteng.rtf
bison.tex
bongo.txt
buffalo.csv
camel.dat
deer.key
eland.ppt
gemsbok.tar
hippo.xml
impala.htm
kudu.js
llama.svg
moose.pdf
nyala.db
okapi.kml
onager.asp
pronghorn.css
reedbuck.php
reindeer.lnk
rhino.sys
springbok.dll
tapir.ini
wildebeest.tgz
yak.zip
zebra.sh
